[2013-04-19 08:59] danrossi commented on #87
Yes. I cannot guarantee when. I've just applied more httpstreaming and bwcheck fixes so I guess now but ive had no response myself and they should be up on the dev build site location right now.

[2013-04-19 09:01] danrossi commented on #65
not sure if there is anything to fix here closing for now if possible.

[2013-04-19 09:01] #65 closed, assigned to nobody

[2013-04-19 09:02] danrossi commented on #64
plugin has been added.

[2013-04-19 09:02] #64 closed, assigned to anssip

[2013-04-19 09:18] danrossi commented on #91
Hi closing this for now, not possible to support this sorry, please contact longtail and the provider vendor about the issue.

[2013-04-19 09:18] #91 closed, assigned to nobody

[2013-04-19 09:39] danrossi commented on #71
That is correct again it's part of the menu feature "Is this a toggle item? Toggle items can be selected and de-selected. In the selected state (pressed down) a check mark is displayed next to the label text." turns the tick icon on and off each time its pressed. Disabling the toggle config will not display the tick icon at all.  The bitratemenu is configured with them as enabled. That is all I ca

[2013-04-19 09:57] phloxic commented on #99
When we went through the differences between bwcheck and bwcheck-httpstreaming for documentation you told me, there was no checkOnStart for this plugin.
Updated demo, and it returns empty for detected bitrate.

I can see the non-standard order (not documented) influencing the _first_ choice. But if you watch and toggle fullscreen you can often see it choosing a correct high resolution but reportin

[2013-04-19 11:45] phloxic commented on #99
Will remove live property from bwcheck-httpstreaming docs. checkOnStart still unclear.

[2013-04-23 07:52] phloxic commented on #41
Hiding the captionTarget arguably only works around a bug: It does what it says: it hides the captions, but does not disable them. The indication is that the CC widget still shows them as enabled.
We can decide that _disabling_ captions is not on offer except for embedded captions (and then not dynamically). But then we should make this official.

[2013-04-23 12:28] danrossi commented on #99
It activates manual bandwidth checking before startup if disabled it will use the default setting or the lowest rate. We can enable it by default perhaps if dynamic is not set.

[2013-04-23 12:40] danrossi commented on #41
Yes I believe disabling the cuepoint listener when turning off then binding the listener again is an easy solution here. It may cause other issues in the process but would have to find them as it goes. It may be an idea to change the cc button to a dock button in the process if things are going to be changed.

[2013-04-23 13:46] phloxic commented on #99
No, that's not what I'm talking about. And leave that as it is - as with the stock bwcheck.
But independently of checkOnStart you can see it selecting a higher bitrate after the default bitrate (correct) and just before the switch (which actually happens visibly) it says that it will select the lower bitrate (which it correctly does not).
Here's the demo without checkOnStart: http://flash.flowplay

[2013-04-23 13:51] danrossi commented on #99
netConnectionUrl is the file to download to calculate bandwidth for http or the rtmp server url.

[2013-04-23 13:55] danrossi commented on #99
The production server doesn't have the httpstreaming changes yet of course its in those files above. Hopefully they go up soon ive done some more tweaks to the code and think it's ready and have asked it get all merged.

[2013-04-23 16:33] 99ers4ever opened #100 "Slowmotion functionality with DVR (cached part)"
I have the following problem:

I'm trying to set up a livestream for sport events. I'm using AMS and DVR and I tried to get Flowplayer Slowmotion work for the part which is cached (to analyse it, if needed).

Steps done:
Testing DVR-functionality with http://www.osmf.org/configurator/fmp/ (works fine)

Livestream used:
rtmp://hockey-news.info/dvrcast_origin
stream: test

Occuring error:
stream sto

[2013-04-25 08:02] danrossi commented on #99
The production version is broken i fixed it in dev with the osmf 2.0 changes.

[2013-04-25 08:40] phloxic commented on #99
ok, fingers crossed ;-)

[2013-04-27 13:04] phloxic commented on #98
Related: #41

[2013-04-28 12:53] danrossi commented on #41
Did you want me to go ahead with this ?

[2013-04-28 13:02] danrossi commented on #99
yes. it's fixed in those files above as far as i've tested it, it has gone out to someone already but have no heard back from them. If you need a demo page lemme know.

[2013-04-29 17:44] phloxic opened #101 "cluster: server clustering fails with wowza"
Demo:
http://flowplayer.blacktrash.org/test/cluster.html (HDDN)
Works fine with fms (cloudfront)

See also: http://flowplayer.org/forum/#!/moot/11121

[2013-04-29 18:26] phloxic commented on #101
Seems to happen when the Wowza server runs a load balancer.

[2013-04-29 20:29] carlosjpr commented on #101
The Dynamic Load Balancing of Wowza doesn't work when I use the clustering plugin of Flowplayer.
http://www.wowza.com/forums/content.php?108 - Dynamic Load Balancing Wowza
http://flash.flowplayer.org/plugins/streaming/cluster.html - Clustering RTMP Servers
NOTE: The dynamic load balancing of wowza works normally in flowplayer if I don't use the clustering plugin.
Examples:
Without Clustering (work

[2013-04-30 05:45] danrossi commented on #101
Yeah the plugin was made ages ago when load balancing was expensive, and required renting expensive routers for edge server setups. HDDN already has a load balancer and redirects to their internal servers. For some reason your version is trying to resolve files as http instead of rtmp will have to look at this.

[2013-04-30 12:06] danrossi commented on #100
The stream isn't available to test, let me know when it's back up. Have only tested slow motion support with VOD streams on DVR live streams create more complexities in terms of slow motion within buffers as the buffers are small.

[2013-04-30 12:17] danrossi commented on #41
This is trivial to fix let me know if you want it done thanks.

[2013-04-30 12:34] danrossi commented on #101
Just had a look, its doing a hddn style redirection style which may need to be handled the same.

[2013-04-30 12:56] danrossi commented on #101
https://dl.dropboxusercontent.com/u/3394987/flowplayer.cluster-3.2.9.zip Please try this, it will now handle the redirects on the origin servers and update the current host to connect with. The issue is was not dealing with the connect reject status.

[2013-04-30 13:39] carlosjpr commented on #101
Thanks danrossi! One more question! How do I use the clustering plugin with Adobe Http Streaming?

[2013-04-30 22:54] phloxic commented on #41
Would this disable user-configured cuepoints too?

[2013-05-01 07:34] danrossi commented on #101
Use the http clustering example the hosts config would be the separate manifest files.

[2013-05-01 07:35] danrossi commented on #101
That fix is for wowza origin rtmp redirections.

[2013-05-01 07:37] danrossi commented on #41
The requirement is to unbind the cuepoints listener so its not updating anything and then when activated bind the cuepoints listener again and it will start displaying the text again. It might be an idea to change the CC button to a dock button while we're at it as has been requested for a few years now. What do you think.

[2013-05-01 07:39] danrossi commented on #41
The listener on the plugin that is cuepoints is still functioning as always it might be too much work, to clear out the subtitles cuepoints, or reload on demand might be too slow anyway. So cuepoints would still be dispatching in the player, is that where you want them disabled ?

[2013-05-01 07:58] danrossi commented on #41
Another option would be to store the loaded cuepoints. when disabling remove them from the players cuepoints, and when enabling add them back in. They get added for each playlist item on startup so would have to be updated for each playlist item at once. A bit of work there. the simplest is to just unbind the event on the plugin.

[2013-05-01 09:34] phloxic commented on #41
I think it's dangerous to fiddle with the already brittle cuepoints.

My proposal is to address this merely from the UI perspective: Think not "disable", but "hide".
1. Leave the documented mechanism in place that to hide subtitles, one has to hide the captionTarget plugin.
2. Allow the CC widget to be hidden/revealed by `$f().getPlugin("captions").hide()` and friends; also allow `display: none` i

[2013-05-01 12:02] danrossi commented on #41
Ok i must of missed something because thats all the button does right now, hides / shows the content plugin.  no worries then.

[2013-05-01 12:03] danrossi commented on #41
what is the purpose of hiding the button sorry ?

[2013-05-01 18:19] phloxic commented on #41
To disable captions from the user perspective. E.g. start with a hidden captionTarget and offer a scripted/dynamic way to enable captions. When the button is visible user can just click on it.

[2013-05-04 08:30] 99ers4ever commented on #100
hm just tested it - stream works for me. how did you try to test it?

[2013-05-04 09:29] danrossi commented on #100
rtmp: {
                        url: "flowplayer.rtmp.swf",
                        netConnectionUrl: "rtmp://hockey-news.info/dvrcast_origin"
                    }

...

clip: {
                    url: "test",
                    live: true,
                    provider: 'rtmp'
                },

Using this config the stream does not play, its sitting there which means its not publishing.

[2013-05-05 15:41] phloxic opened #102 "bitrateselect: does not work with playlists"
Demo: http://flowplayer.blacktrash.org/test/playlist-hdtoggle.html

[2013-05-07 00:24] phloxic opened #103 "hds + playlist: play button stays put after switching to a different item"
Demo: http://fdc.2tvod.com/cs16.html

[2013-05-11 04:21] danrossi commented on #102
Nothing has changed for a while, requires sd, hd properties

bitrates: [
            {url: "mp4:ccc_trailer2-400", bitrate: 400, sd: true, isDefault: true},
            {url: "mp4:ccc_trailer2-1000", bitrate: 1000, hd: true}
          ],

[2013-05-11 04:25] danrossi commented on #103
They are trying to use bwcheck plugin without any detection url or dynamic config, which they require the dev plugins anyway. Not setup correctly and causing an error. Perhaps all they need is to configure the bitrateselect plugin instead. It's an MBR feed and causing an error internally trying to switch to a quality.

[2013-05-11 04:33] danrossi commented on #103
Its a multi level file which should be detecting and parsing. Have not used these before, they should be packaged into the one file.

[2013-05-11 04:41] danrossi commented on #103
That is correct the multilevel parser of f4m v2 needs to be plugged in and should be trivial to do no worries.

[2013-05-11 04:45] danrossi commented on #103
No just an update, I did implement it but needs to be configured if using multi level feeds see

f4m: {
  version: 2
}

[2013-05-11 04:54] danrossi commented on #103
There is still some other issues however, all the parsed feeds have null bitrates so there is something up with their feed still.

[2013-05-11 05:01] danrossi commented on #103
If they configure the version to 2, they need to fix their feed up still see

[code]

needs to be a number only

[code]

It plays but no bitrate selection etc will work.

[2013-05-11 08:36] phloxic commented on #102
arrgh, sorry for the noise - closing of course.

[2013-05-11 08:36] #102 closed, assigned to danrossi

[2013-05-11 10:19] prasaar commented on #103
Hi Dan, I have fixed the issue with bitrate in the manifest file. However the I still see the Buffering and Play Button Overlays stay put after switching to the next clip. I have tested the same settting with http(default progressive download)  and rtmp plugins and they work fine. Issue is only with httpstreaming.

[2013-05-11 12:32] danrossi commented on #103
you are using mbr feeds, and the bwcheck config is doing nothing and incorrectly configured. So perhaps setup the bitrateselect one instead so it can configure the playback correctly with a default rate. ie urlResolvers: [ "f4m", "bitrareselect" ]

[2013-05-11 13:58] prasaar commented on #103
http://2tvod-fd.s3.amazonaws.com/cs17.html
This is a new page using bitrateselect. I have not setup the css+div for the bitrate selections. The plugin uses the default bitrate for each clip.
Problem still persists when switching from one clip to another.
One thing I noticed is that in case HDS  we get 2 Netstream notify messages (a) Pause ( NetStream.Pause.Notify )  (b) Stop( NetStream.Play.Stop)

[2013-05-11 15:39] prasaar commented on #103
Compared the event flow and logs for   http(progressive download) , RTMP and HDS.
Only in HDS do we get an event related to the old clip after opening a connection for the new clip.
This is because the underlying layer from OSMF is closing the stream for the previous clips fragments after it receives a connection request for the new clips stream.
This raises a NetStream.Play.Stop event. The event

[2013-05-12 07:21] prasaar commented on #103
HI Dan,

I added the following code in NetStreamControllingStreamProvider.as

# Function : doStop

[code]

#

It works because similar  to http and  rtmp only one  stop event is raised.
The long term fix should be to refactor the httpstreaming  Provider.

Question : How do I get this fix in our licensed version flowplayer.swf?

[2013-05-12 10:29] danrossi commented on #103
https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-httpstreaming-3.2.13-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.f4m-3.2.10-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.httpstreaming-3.2.11-dev.zip

The playlist issue was fixed in the dev sources but not released as yet. You can try these versions I just made for you if possible. You are right th

[2013-05-12 14:47] prasaar commented on #103
Hi Dan, The fix for the playlist works real smooth.
( http://2tvod-fd.s3.amazonaws.com/cs16fix.html )
However the bwcheck dynamic config does not seem to work for httpstreaming.
It always picks up the lowest bitrate and plays only that. My download speed in HK is 40 Mbps.
I think the metrics measurement  are not kicking in to trigger the dynamic switching for httpstreaming.

[2013-05-13 02:45] prasaar commented on #103
did some testing of configs under
 http://2tvod-fd.s3.amazonaws.com/cs16fix2.html
 http://2tvod-fd.s3.amazonaws.com/cs16fix3.html
and same problem the QoS and NetMetrics for http streaming are not triggering.

I had fixed this issue in my lcoal codebase of an old version of flowplayer plugins

# File :  BwCheckProvider.as

(a)  Turning on  DownLoadRatioRule with true  to apply it  i.e.  addRule("r

[2013-05-13 04:30] danrossi commented on #103
Turn the screen size rule off

qos:{"frames":false,"screen":false}

[2013-05-13 09:32] prasaar commented on #103
Done. Same behaviour. It plays only the lowermost bitrate.
I dont see any HttpMetrics related messages in the logs.
Url:   http://2tvod-fd.s3.amazonaws.com/cs16fix4.html

#

 bwcheck:{
             url:"flowplayer.bwcheck-httpstreaming-3.2.13-dev.swf",
             provider:"httpstreaming",
             dynamic:true,
             checkOnStart:true,
             dynamicBuffer:true,
             qos

[2013-05-13 10:14] danrossi commented on #103
disable checkOnStart: true as you don't have a url configured for that. It should begin switching.

[2013-05-13 10:14] danrossi commented on #103
this is also not required bwcheck:true

[2013-05-13 10:45] prasaar commented on #103
Tried this under url: http://2tvod-fd.s3.amazonaws.com/cs16fix5.html
Same result. It does not trigger any dynamic switching and continues playing the lowest bitrate.

#

bwcheck:{
                                                        url:"flowplayer.bwcheck-httpstreaming-3.2.13-dev.swf",
                                                        provider:"httpstreaming",

[2013-05-14 15:40] danrossi commented on #103
flowplayer("player", "http://2tvod-fd.s3.amazonaws.com/players/flowplayer/content/swf/flowplayer.swf",
    {
        log: { level: 'debug', filter: 'org.osmf._, org.flowplayer.f4m._, org.flowplayer.httpstreaming._, org.flowplayer.bwcheck._' },

[code]

this config switches and stays at 700 and doesn't switch down. There is alot of junk in the configs so I cannot be sure where it is but perhaps fir

[2013-05-14 16:34] danrossi commented on #103
https://dl.dropboxusercontent.com/u/3394987/flowplayer.httpstreaming-3.2.11-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-httpstreaming-3.2.13-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.f4m-3.2.10-dev.zip

backup the old ones and add the debug versions. I removed some logging in the f4m. It is changing for me fine. Perhaps it is this qos: {screen: false

[2013-05-15 01:39] prasaar commented on #103
Hi Dan,  My mistake ...
My config had  urlResolver["f4m","bwcheck"]  instead of  urlResolvers["f4m", "bwcheck"]   ..(plural with the extra s)
As a result it was applying only the first f4m   url resolver and playing the default first bit rate.

[2013-05-15 03:02] danrossi commented on #103
Yes try to use the common clip object for common options that does not need to go into the playlist config. Let me know how the switching goes for you as it was newly refactored a few months ago and yet to be released still ;)  The older version depended on OSMF 1 and that single rule you mentioned had obvious problems they completely redid the metrics specially for segment streaming so the plugin

[2013-05-17 10:25] phloxic opened #104 "mp4 pseudo: controlbar delays update of time"
1. start playback
2. go into paused state
3. in the console e.g. $f().seek(60)

FLV http://flash.flowplayer.org/demos/standalone/plugins/streaming/index.html - controlbar time updates to new position.
MP4: http://flowplayer.blacktrash.org/test/minimal-pseudo.html - pictures updates to new position, controlbar time does not, both loading animation and play button are visible. - controlbar time is u

[2013-05-20 15:34] phloxic opened #105 "instream issues"
The simple instream demo at http://flash.flowplayer.org/demos/configuration/instream-playlist.html exhibits these problems:
1. scrubbing to 0 (or leftmost, supposedly 0) starts the feature, not the preroll
2. replay replays the postroll, does not start from the beginning

Additional problems with audio:
1. audio 3.2.10: replay starts feature, not preroll
2. audio 3.2.9 (because 3.2.10 is buggy, se

[2013-05-21 01:23] danrossi commented on #103
closing this for now thanks

[2013-05-21 01:23] #103 closed, assigned to danrossi

[2013-05-21 07:56] phloxic opened #106 "bufferEmpty or state 2 (buffering) not reported"
It seems like the bufferEmpty event is never triggered:
http://flowplayer.blacktrash.org/test/buffering.html
Start playback, disconnect and wait or search to end of buffer: it should show the content plugin, but nothing happens.
Similar when trying to catch state < 3 or state == 2 in an interval, the buffering state is never reported. When you enable the buffering animation, it comes up, but that

[2013-05-21 11:10] danrossi commented on #100
Hi the server is still down therefore unable to check it thanks.

[2013-05-21 11:14] #82 closed, assigned to danrossi

[2013-05-21 11:22] danrossi commented on #41
captiontarget: { display: "none" }, would cover hiding the content plugin. dock: true / false should cover configuring to enable a dock button or not (may aswell make it a proper dock button while we are at it ?? ) , external methods showCaptions / hideCaptions() should cover that. According to what I get from that info is what you need.  However also configurable via js ie  $f().getPlugin("captio

[2013-05-27 17:43] AstinCHOI opened #107 "Red5 doen't work rtmp live .."
Hello,
I'm red5 user and flowplayer light user. (will buy your licence.)

But when I use rtmp live with red5,
I cannot well play rtmp live.

Only to play rtmp live with red5 is that play button clicks many times. Please check this bug please.

I referenced here http://flash.flowplayer.org/plugins/streaming/rtmp.html

but it didn't work.

[2013-05-27 17:45] willwh commented on #107
Can you provide a stream location to test with? Can you provide some error data from red5? Also your flowplayer config?

[2013-05-27 17:58] AstinCHOI commented on #107
I just use pure red5-server-1.0

and just follow this section for live streaming http://flash.flowplayer.org/plugins/streaming/rtmp.html

[2013-05-27 17:59] AstinCHOI commented on #107
$f("red5", "{{ STATIC_URL }}swf/flowplayer-3.2.16.swf", {
        clip: {
            url: '..',
            //scaling: 'fit',
            live: true,
            provider: 'rtmp'
        },

[code]

[2013-05-27 18:10] willwh commented on #107
I don't work for flowplayer - I'm just interested - I can't delete your comment.

I did test this with a couple of flash players - you're right - doesn't seem to work with flowplayer. Did work with a basic flash player though.

This was returned in console:

[ERROR] time 11:09:54.880 :: 201, Unable to load stream or clip file, connection failed, clip: '[Clip] 'flowplayer''

[2013-05-27 18:12] willwh commented on #107
I also get these returned in console just before flowplayer fails:

POST http://ip:0/fcs/ident2  ip:0/fcs/ident2:1
POST http://ip:0/open/1  ip:0/open/1:1

[2013-05-27 18:16] AstinCHOI commented on #107
If you click many times, it work remarkably.

[2013-05-27 18:16] AstinCHOI commented on #107
(play buttons)

[2013-05-27 18:33] AstinCHOI commented on #107
I found the stupid solution

You can append,
setTimeout("$f().pause()", 1000);
    setTimeout("$f().pause()", 1500);
    setTimeout("$f().pause()", 2000);
    setTimeout("$f().play()", 3000);

this code,

will play !!

[2013-05-27 19:45] danrossi commented on #107
The code above is telling to stop the playback, as pause will trigger to close the stream. Can you check your logs on the server and perhaps update to the very latest version.

[2013-05-27 19:50] danrossi commented on #107
The easiest way to check the logs on the server is to increase the filters on the console log appenders config to display more logs. also enable logs on the player and paste it here.

[2013-05-28 05:11] AstinCHOI commented on #107
I checked logs, but it's same as done to undone(bug). Only to play with flowplayer is many clicks like above scripts.

[2013-05-28 06:40] AstinCHOI commented on #107
I used pure red5 server.

[2013-05-28 11:46] danrossi commented on #107
Please paste it here as I dont understand what you just said sorry.

[2013-05-28 12:08] AstinCHOI commented on #107
When I play with flowplayer, flowplayer didn't answer any error logs.
Pure Red5 Server which sets nothing is also didn't answer any error logs.

Did you test flowplayer rtmp with red5-server?
I will try to paste the log.
Wait ..

[2013-05-28 12:20] AstinCHOI commented on #107
{objectEncoding=3, app=oflaDemo, fpad=false, flashVer=MAC 11,7,700,203, tcUrl=rtmp://secret/oflaDemo, audioCodecs=3575, videoFunction=1, pageUrl=http://[secret], path=oflaDemo, capabilities=239, swfUrl=http://secret/static/swf/flowplayer-3.2.16.swf, videoCodecs=252}
[INFO] [NioProcessor-6] org.red5.server.net.rtmp.RTMPHandler - Remembering client buffer on stream: 3000
[INFO] [pool-4-thread-2] org

[2013-05-28 12:22] AstinCHOI commented on #107
The interesting is when I click play or pause button many times like

setTimeout("$f().pause()", 1000);
setTimeout("$f().pause()", 1500);
setTimeout("$f().pause()", 2000);
setTimeout("$f().play()", 3000);

this script, it works remarkably.

[2013-05-28 12:23] AstinCHOI commented on #107
And I broadcasted for live.
What do you want information?
I need the help to correct this bug for flowplayer.

[2013-05-28 20:56] phloxic opened #108 "replay button appears over last part of video"
[EDIT: updated title, it's also not protocol specific]
Can be observed here:
http://flash.flowplayer.org/demos/standalone/plugins/streaming/rtmp.html
10 to 12 secs before end: replay button appears over the end titles

[2013-05-28 21:08] phloxic commented on #108
Wowza or HDDN problem? Seems to work with cloudfront: http://flowplayer.blacktrash.org/test/buffalo.html

[2013-05-28 21:18] phloxic commented on #108
Flowplayer HTML5 seems to be able to handle it: http://demos.flowplayer.org/bug/179.html

[2013-05-29 08:03] ashconnell commented on #99
My current setup with bwcheck-httpstreaming grabs the lowest bitrate first (250) and takes roughly 10 seconds to switch to 4000). How might I set my default bitrate to start at something significantly higher than a blurry screen for 10 seconds?

I will happily paypal someone a beer or two for an answer...

[2013-05-29 08:36] danrossi commented on #99
Hi there see example above, this configuration chooses which to use as default, it needs to reflect your bitrate list though.

clip: {
   bitrates: [
{ bitrate: 259},
{ bitrate: 405, isDefault: true},
{ bitrate: 894},
{ bitrate: 3064}
]

}

[2013-05-29 08:40] danrossi commented on #99
Hang on are you using the dev sources ? Please use the dev versions pasted above. or my branch has all the above fixes thanks

https://github.com/flowplayer/flash/tree/danielr-httpstreaming

[2013-05-29 09:13] ashconnell commented on #99
I'm using the files on the flowplayer site. Will have a look at work tommorrow. Please email me your PayPal details

[2013-05-30 00:53] ashconnell commented on #99
I get an f4m error using the plugins posted above. Error 1006.

[2013-05-30 04:57] danrossi commented on #99
post link

[2013-06-01 13:17] 99ers4ever commented on #100
I'm really sorry it took me so long to respond (busy with my bachelor thesis) - the server was crashed and is up again. checked it with your config and i was able to stream!

[2013-06-02 11:39] phloxic opened #109 "accessibility: screen reader fails to read out tab names"
According to http://flowplayer.org/forum/#!/moot/12676

---

When I hover over the play/pause button JAWS doesn't read out Play/Pause. Also when I hit Tab button to tab over the various controls, JAWS keeps saying Tab instead of the title of the button (eg. Play, Pause, Enter Fullscreen etc).

---

[2013-06-02 11:41] phloxic commented on #109
Minimal sample: http://flowplayer.blacktrash.org/test/accessibility.html

[2013-06-02 12:11] danrossi commented on #109
We've gone over this in a previous ticket, jaws will say tab because you are tabbing and then read the accessibility name which is not the label but the button name, perhaps its a setting in Jaws to tell it not to say tab. I've changed it to use the user configured label instead if set to avoid the confusion what is uses and is in the current pull request

https://github.com/flowplayer/flash/blob/

[2013-06-02 12:17] danrossi commented on #100
alright thanks, can you leave it up until tommorow if possible there is likely a requirement on the fms side to get stepping working with DVR due to it being a live stream still theoretically and buffers. It steps within the buffer, and with live stream its small like 2 seconds or less to avoid latency between audio and video.

[2013-06-02 13:09] 99ers4ever commented on #100
the server should be available all the time (someone destroyed the whole server config so i had to reinstall it  and that's the reason it wasn't working for you the last time) so yeah take the time you need :-)

[2013-06-03 08:00] danrossi commented on #100
still unable to test what is the filename now.

[2013-06-03 15:28] danrossi commented on #107
Am unable to build red5 please provide working demo thanks

[2013-06-04 14:06] danrossi commented on #107
I am now able to run the server it was caused by a logging library conflict on osx and will test.I have direct contact with them just in case its a problem on their end but do try to use the trunk version to be on the same page but i will try 1.1 first

[2013-06-04 17:19] danrossi commented on #28
fixed in https://dl.dropboxusercontent.com/u/3394987/flowplayer.rtmp-3.2.12.zip. It will set a timeout and wait for metadata on live streams and if none available trigger a start event. red5 triggers metadata on h264 encoding not vp6. They know about it now.

[2013-06-04 17:22] danrossi commented on #107
red5 plays  fine with both vp6 and h264, however with vp6 it doesn't trigger metadata which I fixed for a different ticket.

https://dl.dropboxusercontent.com/u/3394987/flowplayer.rtmp-3.2.12.zip try this if possible if you are publishing a vp6 stream.

your filename also needs no prefix on it like other servers would so url: "livestream"

[2013-06-04 17:23] danrossi commented on #100
what is the updated filename ?

[2013-06-04 18:09] phloxic opened #110 "sharing/viralvideos: embedded players do not offer sharing by default"
To verify: http://flowplayer.blacktrash.org/test/embed-viral.html

I believe this is a leftover from the time when the pageUrl was not available consistent for both viralivideos and sharing plugins, and above all, was not always set by default to the originating page - see:
http://code.google.com/p/flowplayer-core/issues/detail?id=265

Therefore, as an intermediate stage sharing was disabled in em

[2013-06-04 18:11] 99ers4ever commented on #100
hm should be still the same! what software do you use to stream?

i use FME
my config: https://www.dropbox.com/s/p1bpsovtcb5a1ac/server.PNG
and I'm able to stream at the moment

[2013-06-05 09:11] danrossi commented on #100
just tried again and its down

netConnectionUrl: "rtmp://hockey-news.info/dvrcast_origin"

[2013-06-05 18:55] 99ers4ever commented on #100
NOW it should work - hope the server stays alive for more than 24 hours ^^

[2013-06-06 07:07] w3apps opened #111 "Send custom header"
Is there any way to send custom headers when requesting a video file ? I'm using the pseudostreaming plugin and I tried to to add addHeader("Referer", "http://example.com"); in the httprequest.as file but It doesn't work.

[2013-06-08 03:17] danrossi commented on #109
Hi if you understand how the screen reader works, it works by tabbing not by using the mouse or mouse hovers. Upon each tab it will read its name or in the case of flash widgets it's accessibility name. Perhaps read the documentation of how Jaws works ? If someone has visibility issues they won't be using a mouse.

[2013-06-10 17:49] bbbo opened #112 "enhance ipad plugin to fall back to html5 on Android"
is this possible? right now on many devices Flopwlayer just says "install Flash!"

[2013-06-10 17:50] bbbo opened #113 "enable bufferlength=0"
for rtmp live stream cases for example

[2013-06-11 02:44] danrossi commented on #112
Probably a good idea seeing that they've purposely blocked flash since 4.2 even with it installed and samsung is still advertising it available on their tablets :o Basically video on android is a mess right now because they try to fix something that wasn't broken. My phone has a quad core cpu ffs lol.

[2013-06-11 04:20] danrossi commented on #111
Hi there, that is for the byterange feature which has other complications because it uses a custom http client. For the normal streaming its not using a http client so no headers are sent. I would perhaps add the referer as a query string and deal with it on the server end.

[2013-06-11 04:24] danrossi commented on #111
btw only some browsers do not send referer from flash. perhaps check which ones they are and add the query string.

[2013-06-11 05:49] bbbo opened #114 "allow bufferLength: 0"
to avoid gap in live streams. see http://flowplayer.org/forum/#!/moot/12404

[2013-06-12 12:02] bbbo commented on #113
duplicate of #114

[2013-06-12 12:02] #113 closed, assigned to anssip

[2013-06-12 12:03] bbbo commented on #112
it would be cool to have an addtional androidUrl property whihca can link to rstp streams too.

[2013-06-12 12:23] phloxic commented on #112
Implementing an additional url is not a problem. But what about the API or playlists? I don't think this will report events to the html5 video js api? Any ideas? Would this just be a dumb url for single clips?

[2013-06-12 22:41] danrossi commented on #112
Good call I believe that is what people are saying to do for live streams, it's a mess isn't it. rtsp streams just for android so much for single formats that everyone wants :O Back to trying to fix what is not broken ;)

I haven't completed it yet but I've started handing this out to people who are using my fp3 plugins

http://flowplayer.electroteque.org/flashfp3/fp5

[2013-06-13 00:53] rdkls opened #115 "Httpstreaming - Windows - Chrome Sandboxing - Requires "access your computer""
Note only on Windows, OSX I don't get it.

![windows-chrome-sandbox-prob](https://f.cloud.github.com/assets/1166229/646253/dcadeba0-d3c2-11e2-957d-9fd58165e0db.png)

If the user clicks [Deny], an entry is made in Chrome Settings - "Unsandboxed plug-in access" with value for the domain = "Block"

From then on, the player will get "DRM Error: 3321 : [i15nFailed]" or "DRM Error: 3368"
and just contin

[2013-06-14 13:37] danrossi commented on #115
Yes this cannot be helped it is a feature in windows chrome, the user simply has to click allow once for that domain. If they click deny you have to go all the way through the settings to change it to allow for the domain with those instructions above. There is noway to detect in flash this security box in chrome.

I believe it's because

1) windows is prone to virus
2) google have a stance agains

[2013-06-14 13:40] danrossi commented on #115
Oh you are possibly correct there, those two codes get returned during a rejection for authentication. This is not a feature of the httpstreaming plugin but I will look at adding it to the drm plugin.

[2013-06-14 15:18] danrossi commented on #115
Ironically they have in their plugins list a remote desktop viewer that is enabled by default talk about security holes :O It's a strange world we live in.

In the middle of testing it on the jwplayer version of the plugin first as I enabled user notification messages there first and will port those changes to flowplayer also.

[2013-06-14 16:08] danrossi commented on #115
Confirming the codes fix the issue however it only happens on their built in and hacked up plugin. Not one supplied by adobe.

[2013-06-16 10:57] danrossi commented on #115
Hi there this feature has been updated in the flash access drm plugin with the help of user notifications for drm errors.

http://flowplayer.electroteque.org/securedrm

When a user clicks deny it will popup a notification message on how to enable the domain again.

[2013-06-16 11:18] rdkls commented on #115
Hey that's cool, it's nice of the player to try to help =)

But probably we should just hook into that event with a JS listener right,
in our playback page, and tell the user why it's not working, and what they
have to do in order to play back video.

Ideally, when our page first loads, if we detect a situation where the
authorization bar will happen, we'd preemptively show a floating dialogue
poi

[2013-06-16 11:25] danrossi commented on #115
No you have no way to detect the security banner has opened up its a hack in the flash plugin. The event will be returned after they have clicked deny.

[2013-06-16 11:29] rdkls commented on #115
Right so any tips on implementing a proactive bubble pointing to 'Allow'
something like

"In order to watch this secure video you'll have to click 'Allow' here"

On Sun, Jun 16, 2013 at 9:25 PM, danrossi notifications@github.com wrote:

[2013-06-16 11:44] danrossi commented on #115
Ive created javascript callbacks now for the various error events ;)

[2013-06-16 11:47] rdkls commented on #115
ALL HAIL

On Sun, Jun 16, 2013 at 9:44 PM, danrossi notifications@github.com wrote:

[2013-06-16 12:03] danrossi commented on #115
I would assume you have to do client checks then flash a message if they have just visited the site perhaps as the security banner happens once only for the domain. Thats what I would do anyway. And this other notification is for after the fact lol. Yes it would make things easier if it provided a flash event while the banner is popping up. There is no DRM client loaded until after sandbox access

[2013-06-17 14:50] danrossi commented on #115
How did you go ?  If you still do not want to use the drm plugin, you could look at making the modifications directly just grab the sources from my branch though ;) I fear if using flash shared objects instead to store the banner notification has been displayed will also trigger the security banner, if cookies get cleared the notification will appear again also. I'll also have a look at the possib

[2013-06-17 23:32] rdkls commented on #115
Cool thanks Dan, I'll have a talk with Ash about it tomorrow

On Tue, Jun 18, 2013 at 12:50 AM, danrossi notifications@github.com wrote:

[2013-06-26 08:43] thanosk opened #116 "Flash audio plugin does not recognise mp3 unless it sees a pattern of name.mp3 into the URL"
Reproducible with version 3.2.10.

For example, if the URL of the mp3 is like: example.com/my/action?id=n, flowplayer responds with 200 stream not found. In order to overcome it, it is possible to use a fake get parameter like this:

example.com/my/action?id=n&ext=name.mp3

It's a bit crazy! :-)

[2013-06-26 13:57] danrossi commented on #116
please provide page also you need to uri encode your urls.

[2013-06-26 16:22] thanosk commented on #116
Oh, sorry, you are right :-)  There it is: http://lists.hellug.gr/audio-bug/demo.html

As you can see, it fires 3 flowplayers, the first one is fed with the absolute url to the mp3 file (current directory).
The 2nd one calls file.php?id=103 and fails.
The 3rd one calls file.php?id=103&ext=fake_empire.mp3 with success.

(they are not uri encoded but that doesn't seem to affect anything, we'll get t

[2013-06-26 16:40] danrossi commented on #116
try clip: { type: "audio" }

[2013-06-26 17:23] thanosk commented on #116
Thank you, that works.

[2013-06-26 17:23] #116 closed, assigned to nobody

[2013-07-03 12:20] phloxic commented on #71
Your argument makes only sense if the UI would have no relation to the function it should execute.
In this case you cannot de-select _all_ streams. Therefore a click on an already selected stream has no effect, and that must be reflected in the UI. As it stands, clicking on a selected stream does indeed nothing, but tells the user: no stream is selected. Which is wrong, because the same stream is

[2013-07-03 13:16] sompylasar commented on #71
BTW, the behavior @blacktrash [described above](https://github.com/flowplayer/flash/issues/71#issuecomment-20411590) is commonly named a radio button group. This is different from the checkbox group where an item may be deselected.

[2013-07-03 14:23] phloxic commented on #71
@sompylasar - are you sure? As this is the menu plugin: In my browser if I (re-)select the current window in the window menu, i.e. selected the menu item with the tick mark, the tick mark does not go away. I would not call the menu items in my browser's window menu radio buttons, would you?

[2013-07-03 18:01] sompylasar commented on #71
I would call that behavior the radio button group behavior regardless of
what the visuals are (the single tick or circles with a bullet for the
current selection).

[2013-07-04 00:40] phloxic commented on #71
OK, radio button behaviour it is then ;-) Whatever the name, this behaviour is the one which makes sense for bitrate selection via menu.

[2013-07-04 13:17] lordrak007 commented on #71
Hi,
I have a little bit different problem.
When I used bwcheck together with bitrate select than flow is confused which quality is selected.
Example is here http://web-a.visual.cz/nacevi/players/1556485578_noe/ with debug for both plugins enabled.
On start flow detects bw and select highest quality. bw check has disabled dynamic streaming.
Than you can select quality 176p. Flow switch to 176p.
Now

[2013-07-06 16:52] danrossi commented on #71
https://dl.dropboxusercontent.com/u/3394987/flowplayer.menu-3.2.12.zip

Please try this, it will disable the currently selected item still which will prevent it being re-selected and therefore dispatching click callbacks, it will also prevent over states on the selected item like it probably should. When other items are selected it will re-enable the previously selected item.

This is exactly what

[2013-07-06 17:35] phloxic commented on #71
https://dl.dropboxusercontent.com/u/3394987/flowplayer.menu-3.2.12.zip  behaves _exactly_ as it should imho. Nice work!

[2013-07-06 17:44] danrossi commented on #71
Alright. I wonderful, I will add an option to set a disabled colour now if that is the planned way and hopefully no funky issues down the track. The normal menu configuration might need to be tested ...

[2013-07-06 17:46] danrossi commented on #71
I believe this can be configured in the button config as normal. button: { disabledColor: "rgba()" }

[2013-07-06 17:53] phloxic commented on #71
Yes. `menuItem.disabledColor` is used.

[2013-07-08 08:16] lordrak007 commented on #71
Hi,
thank you. It seems better but when I once select "Auto" than it is disabled forever.
Problem is when I select "auto" the last selected quality i still disabled.
You can see this here: http://web-a.visual.cz/nacevi/players/1556485578_noe/
Thank you

[2013-07-08 09:05] phloxic commented on #71
@lordrak007 - you still have that trailing semicolon outside the quotes of your style directive of the container, and spurious commas in your config.

[2013-07-08 10:03] lordrak007 commented on #71
Hi, I hope that I removed all errors in my code.
Unfortunately it is no take an effect which problem that I have with menu.

[2013-07-08 10:11] phloxic commented on #71
@lordrak007 - http://web-a.visual.cz/nacevi/players/1556485578_noe/ does not work at all for me(tm), the semicolon is also still there.

[2013-07-08 10:23] lordrak007 commented on #71
Hmm, I have some problem with srv.
Could you try this link? http://web02.visual.cz/nacevi/players/1556485578_noe/

[2013-07-08 12:06] phloxic commented on #71
The problem is that you now try to circumvent the menu behaviour:
1) for manual _toggling_ the menu behaves correctly
2) but now you want a _boolean_ switch (which does not make sense for bitrates) in the _same_ menu.
imho that is a feature request, and not trivial to implement.

[2013-07-17 16:50] phloxic opened #117 "rtmp: api for time code generated by fms live encoder"
See: http://help.adobe.com/en_US/FlashMediaLiveEncoder/3.0/Using/WS5b3ccc516d4fbf351e63e3d11c104ba9cd-7ffe.html
Is this available already?
@anssip ? @danrossi ?

[2013-07-17 22:43] danrossi commented on #117
https://github.com/flowplayer/flash/blob/master/core/src/actionscript/org/flowplayer/controller/NetStreamClient.as according to this its not but it could be added with the stream callbacks config

[2013-07-17 22:47] phloxic commented on #117
Thanks, @danrossi, I'll see how i get on with that.

[2013-07-18 01:35] danrossi commented on #117
that method can be added into the client if needed ;)

[2013-07-20 12:57] phloxic commented on #117
Well, it has come up only once so far, so: not really, no.
It would make sense to add it if there was an option to display alternatively or additionally e.g. the system time in the controlbar (similar to dvr live position for httpstreamig ??? pardon my ignorance). But I see several problems rising their head. For instance, in the case in question the timecode (`obj.tc`) property was not available

[2013-07-20 13:18] danrossi commented on #117
in terms of the dvr, its an event which updates the current clip duration not the stream time. the live position is the duration minus a buffer area of 4 seconds. I'm not sure what use there is for this callback.

[2013-07-20 16:58] phloxic commented on #117
Let's forget about it until we have a or more real world use cases.

[2013-07-22 20:11] willwh opened #118 "console.log extension, or debug plugin?"
Hi guys.

I've been running through the codebase, trying to understand completely how the logging interface works.

I'm using it happily - but I'd like to be able to do more than get the data in console, ideally I'd like to be able to use some javascript to send it to the page itself (i.e. jquery.append to a div or ul), not the console, or the flash object.

Is that possible?

[2013-07-23 05:27] danrossi commented on #118
It simply calls console.log.

[2013-07-23 18:37] danrossi commented on #71
Yes the "Auto" menu I have implemented as a modification before it's a feature request. That has to tell bwcheck to go back into autoswitching mode. It may need a bit of work there as the menu is generating via bitrateselect.

[2013-07-24 06:33] willwh commented on #118
Thanks.

[2013-07-24 06:33] #118 closed, assigned to nobody

[2013-07-24 06:35] danrossi commented on #118
You could possibly modify how this works within the Logger class. It's an externalinterface call to console.log. You could call "logfunction" instead.

[2013-07-25 17:17] nderambure opened #119 "BitrateSelect plugin "isDefault" not applied"
Hi !

I'm testing Flowplayer (fash) with Wowza server, and after many tests, I can get the video live stream (from a webcam) to wowza and then to Flowplayer.

I use httpstreaming and a smil file on the Wowza server for bitrate selection.
Here is the smil file : https://gist.github.com/nderambure/6081829

And here is the Flowplayer config :
https://gist.github.com/nderambure/6071678

I've specified

[2013-07-26 00:58] danrossi commented on #119
https://dl.dropboxusercontent.com/u/3394987/flowplayer.httpstreaming-3.2.11-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.f4m-3.2.10-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-httpstreaming-3.2.13-dev.zip

use these thanks

[2013-07-26 12:54] phloxic opened #120 "rss: custom fp: namespace breaks any rss setup"
The feature to set e.g. clip properties in the fp:clip namespace - http://flash.flowplayer.org/documentation/configuration/playlists.html#flowplayer-specific-clip-properties-in-rss - is broken. Not only that, it prevents rss playlists from working it all.
Demo: http://flowplayer.blacktrash.org/test/fp-rss-namespace.html

[2013-07-26 13:29] danrossi commented on #120
[code]

set it to something bogus but needs the namespace setup or else it don't know what to parse try that.

[2013-07-26 13:58] phloxic commented on #120
@danrossi - thanks, I guess I should read the docs I wrote myself ;-)

[2013-07-26 13:58] #120 closed, assigned to anssip

[2013-07-26 15:56] phloxic opened #121 "XSS security enhancements"
1. allow the core player only to load SWF plugins from the same domain as where it is located
2. parse playerId with a regex as strict as possible

[2013-07-26 15:59] nderambure commented on #119
Thx @danrossi, it now works as expected.
Note that I don't use bwcheck here, only bitrateselect.

[2013-07-29 08:05] phloxic opened #122 "clip.onMetaDataChange - why?"
3.2.16 introduced the `onMetadataChange` - http://flash.flowplayer.org/documentation/version-history.html#3216-february-2013 - clip event.

Why a new clip event when the brselect, bwcheck and bwcheck-httpstreaming plugins already provide onStreamSwitch?
This should do:

[code]

However, it always returns the metadata for the isDefault clip (a bug imho).
Why I new method instead of fixing the exist

[2013-07-29 08:39] danrossi commented on #122
Go back in the tickets it was introduced to prevent triggering onMetaData during switches because rtmp servers resend metadata callbacks after switch updates. Actually metadata callbacks on HDS too.

[2013-07-29 09:11] phloxic commented on #122
I infer from this that indeed onMetadataChange is relevant for all _3_ of the following plugins: brselect, bwcheck, bwcheck-httpstreaming
You could make my life easier if you answered at https://github.com/flowplayer/work/issues/639 - e.g. regarding number of arguments, and if any, what they refer to.

I am aware of the tickets. And I wasn't talking about onMetaData, I was talking about calling ge

[2013-07-29 10:51] phloxic commented on #122
Right, I'm now actually testing this, and onMetaDataChange also only returns the isDefault clip.
Demo:
http://flowplayer.blacktrash.org/test/brmenu.html
The clip configuration contains:

[code]

and it logs always the same url.
Promoting to bug.

[2013-08-05 10:13] sergeysavchuk opened #123 "error: flowplayer only loop clip when the current browser tab's active"
When you have the below code to loop clip with flowplayer:

[code]

It works well when you on the current browser tab and don't leave its. But when you go to another tab and if at this moment your video comes to end player doesn't repeat the clip, it stops and displays a black screen.

[2013-08-05 11:04] danrossi commented on #123
Please supply a demo page thanks.

[2013-08-06 09:35] sergeysavchuk commented on #123
It only reproduced for specific flv files or when you set debug mode whith level info or debug; or  when you run heig-loaded script on any tabs of brouser.

You can reproduce it whith next steps:
1. Open the demo page: http://jsfiddle.net/a5yCs/9/;
2. Open another browser tab  and connect to any site
3. Make any actions on site (about 3 minutes)
4. Open a previous tab.

[2013-08-06 15:19] gmcnaughton opened #124 "rtmp: seeks of less than 0.2 sec are ignored"
As reported in http://flowplayer.org/forum/#!/moot/13085:

`NetStreamControllingStreamProvider#doSeek` has a check to ignore seeks of <  0.2 seconds. That makes frame-by-frame seeking impossible even if sufficient keyframes are available (users can't advance frame-by-frame at any granularity higher than 5fps).

What is tripping us up is this code in https://github.com/flowplayer/flash/blob/master/

[2013-08-06 15:37] danrossi commented on #124
rtmp can override this. The base is mostly for http and where rtmp overrides alot of these. I'm not sure what the check was for I'm sorry but it has affected some things for wanting to seek on startup by the api etc. It's a check that 200ms of time has passed before allowing to seek.

[2013-08-06 15:40] danrossi commented on #123
I suspect the external interface which flash uses to interface with javascript gets disconnected when you move away from the tab. I still need a page that you are actually looking at, that link was unusable sorry broken stream.

[2013-08-06 19:31] sergeysavchuk commented on #123
I'm sorry. I updated the demo page: http://jsfiddle.net/a5yCs/9/.

[2013-08-07 08:49] phloxic commented on #121
- direct embedding: disallow external config files from domains other than from where core is loaded

[2013-08-07 09:52] danrossi commented on #123
The setup is a bit complex you should make it more basic, I had to change the stream still to this

http://videos.electroteque.org/big_buck_bunny_400k.mp4

, the callbacks are working for me, chrome osx. Please provide your environment.

[2013-08-07 09:52] danrossi commented on #123
configure duration: 10 also to reduce it's length make it easier to debug.

[2013-08-07 10:00] phloxic opened #125 "play(clip, instream) broken for rtmp clips"
Demo - simplified version of http://flash.flowplayer.org/demos/scripting/play-instream.html but via rtmp here:
http://flowplayer.blacktrash.org/test/rtmp-instream.html

Note that specifying the rtmp provider explicitly for the clip to be played does not help - in spite of the error message. There also should be no need to specify it as the rtmp provider is set in the common clip object.
Specifying

[2013-08-07 10:34] bbbo commented on #125
@blacktrash : is this the outcome of http://flowplayer.org/forum/#!/moot/15621 ?

[2013-08-07 11:30] phloxic commented on #125
@bbbo - no, this one is for Flowplayer Flash (support channel). The above moot is for Flowplayer HTML5 (wrong category).

[2013-08-07 15:13] danrossi commented on #124
https://github.com/flowplayer/flash/blob/master/plugins/rtmp/src/actionscript/org/flowplayer/rtmp/RTMPStreamProvider.as according to the master branch it's already overriding it. Please explain the issue exactly.

[2013-08-07 15:17] danrossi commented on #125
The error

"Error: 202, The provider specified in this clip is not loaded, Provider 'rtmpInstream' (if this instream clip was started using play() you need to explicitly load/configure provider 'rtmpInstream' before calling play()), clip: '[Clip] 'mp4:stsp''"

It's designed for ads to roll into a seperate stream / connection. Therefore configuring a second rtmp plugin as rtmpInStream: {} . Should

[2013-08-07 15:44] phloxic commented on #125
It shows this error, but it wasn't clear that it should be a _second_ plugin.
Ok, will try that.

[2013-08-07 15:48] danrossi commented on #119
That's ok the bwcheck updates is for the dynamic switching fixes. The one you want is the f4m updates.

[2013-08-07 15:48] #119 closed, assigned to nobody

[2013-08-07 15:48] phloxic commented on #125
Yes, that works.
Yes, must be documented that:
A dedicated rtmp plugin with the obligatory label "rtmpInstream" must be configured.

[2013-08-07 15:48] danrossi commented on #115
closing this for now.

[2013-08-07 15:48] #115 closed, assigned to nobody

[2013-08-07 15:49] danrossi commented on #111
Closing this not much that can be done sorry.

[2013-08-07 15:49] #111 closed, assigned to nobody

[2013-08-07 15:50] danrossi commented on #125
Yeah thats how ova etc configure it.

[2013-08-07 15:54] phloxic commented on #125
Closing this here then. Thanks for the info.

[2013-08-07 15:54] #125 closed, assigned to anssip

[2013-08-08 07:54] danrossi commented on #125
That's ok I just noticed it wasn't flagged for me. Send them to me if you want me to look at them thanks or I won't answer them  ;)

[2013-08-08 11:22] Qambar commented on #97
i am still getting this error here

compile-lib:
     [echo] running /Users/Qambar/Work/Library/flex_sdk_4.6/bin/compc with classpath ../flash/core/lib/corelib/src ../flash/core/lib/goasp/src_go ../flash/plugins/controls/src/actionscript ../flash/lib/common/src/actionscript ../flash/core/src/actionscript-builtin, using manifest manifest.xml
     [exec] Loading configuration file /Users/Qambar/Work

[2013-08-08 11:36] danrossi commented on #97
You might need to switch to the dev branch, as there was a change for some reason of the json classes to avoid conflict with Flex 4.6 although it's not neccessary as specifying the package is enough.

https://github.com/flowplayer/flash/tree/dev/core/lib/corelib/src/com/adobe/serialization/json

Please checkout the dev branch and confirm you have that specific file in there.

I would recommend thi

[2013-08-12 13:16] edlabAdmin opened #126 "bwcheck causes long videos to freeze frequently"
We use the bwcheck with the rtmp plugins for distributing our AWS videos via cloudfront. Recently we found an issue that all our long videos (1-2 hours) are freezing every now and then for 3-5 seconds. The occurrence of the freezing seems to have a regular pattern (in a given video the time span that each freezing occurs seems to be a constant value, but this time span differs between videos).

We

[2013-08-12 13:42] danrossi commented on #126
You've provided no page or console log output, but please try this dev build

https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-3.2.13-dev.zip

Disable the screen size rule perhaps as it might be causing issue with the rules also and selecting a too high bitrate qos: {screen: false} let me know if that helps.

Where are your streams coming from ? Are they on a CDN ? The closer you are

[2013-08-12 17:54] edlabAdmin commented on #126
Hi danrossi, thanks for the reply. I followed your suggestion to set {screen: false} in "qos". This partially fixed the lagging problem. The video does not freeze when it is played from the beginning. However if I seek the video, the freezing comes back again. Our bitrate value is set to 800 which I think the default value in bwcheck.

Here is the page:

http://dev-ya.tc-library.org/wp-content/plu

[2013-08-12 18:22] danrossi commented on #126
Provide basic config that page is not helpful both have buffer issues likely keyframe / encoding / bitrate. Although its on cloudfront so i should be able to play a high rate from a local node.

[2013-08-12 20:43] edlabAdmin commented on #126
ok I've added a basic configuration at the bottom (the third video) using the basic components (rtmp+bwcheck plugins). For your convenience to debug, the player instance var is 'video_obj2'.

The actual video is 1.3G with 1h19m48s in length. So the average bitrate should be something like 2200K (1300 \* 8 / 4788).

The curious thing is I found if I use the correct bitrate value 2200 (which is unfo

[2013-08-12 21:08] phloxic opened #127 "bwcheck: on empty buffer switches down to lowest bitrate"
With streams which are not completely optimized for multibitrate deployment in the sense that they contain extreme bitrate peaks (keyframe synchronicity ok) - the following can be observed:

Sometimes the buffer is empty -> buffer animation -> bitrate switches first down to lowest and only the to the next lowest bitrate.

i.e. it goes e.g from 1300 -> 350 -> 1000 - instead of simply 1300 -> 1000 a

[2013-08-13 11:26] danrossi commented on #127
https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-3.2.13-dev.zip try the dev version with the osmf 2 changes.

The sufficient bandwidth rule is also dictated by dropped frames it seems in which the min setting is 10 with minDroppedFrames.

It's set to reset the index it seems to switch down so will go back to the lowest to start switching up again.

[2013-08-13 11:29] danrossi commented on #126
you've configured dynamic switch streaming with only one bitrate configured so of course it's going to be a problem set a min of 3.

[2013-08-13 14:00] phloxic commented on #127
"It's set to reset the index it seems to switch down so will go back to the lowest to start switching up again."
So the behaviour is intentional?

[2013-08-13 14:24] danrossi commented on #127
According to the osmf classes the default index is -1 until one of the rules picks up what index to collect. Either one of them could be resetting it back to -1 but no idea. At least try the newer versions perhaps they made improvements for rtmp also. It works fine for me. The dropped frame setting above also affects the sufficient bandwidth rule, try and fudge it to something really high and see

[2013-08-13 20:34] phloxic commented on #127
Will play around with it.
I also have some ideas as to optimized video encoding for bwcheck - similar to what I'm using for hls. The hls specs are slightly clearer because they require the _maximum_ bitrate in the manifest spec. Whereas here one usually gives the average bitrate. This will take longer to test though.

[2013-08-14 01:32] danrossi commented on #127
The fallback indexes may required to be tweaked on the rules but im not sure yet and its hard to debug those. They can all be overridden though if needed. We are only overriding the sufficient bandwidth rule to allow configuring a few details. There is the qos monitor plugin which may help expose these details in regards to the dropped frames but I doubt they could reach over 10 or could they ? If

[2013-08-14 01:35] danrossi commented on #127
And regards to hls I'm not sure if the max bandwidth setting has any affect with rtmp but give it a try. Maybe for HDS as it's segmented http streaming. This is what is used to configure the mbr HLS feeds anyway the max bandwidth. HLS suffers with offset issues though when segmenting depending what tool is doing it.  it needs to start at a specific offset on the first fragment which is usually the

[2013-08-19 07:27] phloxic opened #128 "brselect + bwcheck checkOnStart + fms: broken"
http://flowplayer.blacktrash.org/test/bwcheck-brselect.html
works with wowza, but not with fms.
Without brselect checkOnStart is ok.

[2013-08-19 07:32] phloxic commented on #128
http://flowplayer.org/forum/#!/moot/16147

[2013-08-19 10:22] phloxic commented on #127
So far I haven't seen any behaviour change with the dev version.
I have not trouble with HLS encoding, with enforced key frame interval and some other tweaks it works like a charm.
Capping bitrate and bufsize should help in rtmp too against dropped frames or buffering. Simple: if a bitrate of 500 is declared and peaks of 1500 or more encountered, that may cause trouble imho.

[2013-08-19 10:39] phloxic commented on #128
Same problem with dev bwcheck from https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-3.2.13-dev.zip - detected bitrate undefined.

[2013-08-19 11:03] phloxic commented on #127
To the issue at hand: setting qos waitDurationAfterDownSwitch to a low value improves the behaviour inasmuch as the lowest bitrate isn't stuck that long.

[2013-08-20 11:22] itusersvidiatorcom opened #129 "bwcheck-httpstreaming : bad track selection"
Issue : on non stable connection, track selection is too optimistic and making the player periodically stop playing, waiting for buffering

Solution : Client download speed should be statistically defined and not for optimal connection. flowplayer.bwcheck-httpstreaming-3.2.12.swf should select a track that he can download in time to be able to continuesly play back content without the need to paus

[2013-08-20 13:18] edlabAdmin commented on #126
Thanks a lot Dan! Following your suggestion, I avoid using bwcheck when there is only one bitrate stream. The slowed video loading seems to be gone after a week's testing.

[2013-08-20 13:18] #126 closed, assigned to nobody

[2013-08-21 16:21] phloxic opened #130 "Trouble with fps < 3"
http://flowplayer.blacktrash.org/test/1fps.html
often jumps almost to the end on page load - verified in Chrome.

[2013-08-22 10:49] #123 closed, assigned to nobody

[2013-08-25 04:39] danrossi commented on #129
https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-httpstreaming-3.2.13-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.httpstreaming-3.2.11-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.f4m-3.2.10-dev.zip

try this thanks

[2013-08-25 07:40] danrossi commented on #128
Nothing wrong with it here

  urlResolvers: ["bwcheck","brselect"],

[LOG] time 17:36:12.347 :: org.flowplayer.bwcheck.detect::BandwidthDetectorFms : onBWCheck
[LOG] time 17:36:13.431 :: org.flowplayer.bwcheck.detect::BandwidthDetectorFms : onBWCheck
[LOG] time 17:36:13.738 :: org.flowplayer.bwcheck.detect::BandwidthDetectorFms : onBWCheck
[LOG] time 17:36:13.740 :: org.flowplayer.bwcheck.detect::

[2013-08-25 08:37] phloxic commented on #128
What was unclear about https://github.com/flowplayer/flash/issues/128#issuecomment-22863557 ? I tried the dev version.
http://flowplayer.blacktrash.org/test/bwcheck-brselect.html now uses the dev version from dropbox, same problem.

[2013-08-25 08:54] danrossi commented on #128
^ look at the config above. working here see the console log.

[2013-08-25 09:17] phloxic commented on #128
With the right order it resolves correctly - but still reporting undefined on BwDone. Again no difference between 3.2.12 and 3.2.13-dev

[2013-08-25 09:22] phloxic commented on #128
So it seems the bug is only the wrong bitrate report in onBwDone.

[2013-08-25 12:24] danrossi commented on #128
onBwDone: function (mappedBitrate, detectedBandwidth) {
      console.log(mappedBitrate);
       console.log(detectedBandwidth);
}

the cloudfront servers seem to randomly fail the connection therefore it will default back to the default mapped bitrate. The arguments were not correct, this is how its used.

[2013-08-25 13:50] phloxic commented on #128
Oops - some old config interfering. All's fine even with current flowplayer.bwcheck-3.2.12.swf - sorry for the noise.

[2013-08-25 13:50] #128 closed, assigned to danrossi

[2013-08-26 09:48] itusersvidiatorcom commented on #129
quick feedback : i can see a large improvement in behavior. Will forward the build to QA to make a larger test. Thanks so far.

[2013-08-26 14:12] phloxic commented on #130
The issue can be narrowed down to:
- Google Chrome PepperFlash plugin - turning it off, makes the problem go away
- http progressive download (possibly http streaming methods) - rtmp is OK: http://flowplayer.blacktrash.org/test/1fps-rtmp.html

[2013-08-26 16:01] phloxic commented on #129
See also: http://flowplayer.org/forum/#!/moot/16369

[2013-08-27 08:25] itusersvidiatorcom commented on #129
QA confirmed that the behavior is as expected from DBA. There are very few cases when player got stuck on lowest track for a while, but this not a bug, just a situation.
I can also confirm that subtitle desync issue is resolved in this build.
Hope to see these changes in next release build.

[2013-08-27 08:25] #129 closed, assigned to nobody

[2013-08-28 09:17] phloxic commented on #130
Upon further investigation:
- happens in all browsers, it's just more prominent with PepperFlash
- can be observed even with the OSMF2 test player at http://osmf.org/dev/2.0gm/setup.html (and other players tested so far)
- persists with I-frame only video: http://media.blacktrash.org/fp/test/1fps-yuv420p-i.mp4

No problem with RTMP delivery.

Tendency: wontfix

[2013-09-05 15:00] alexcroox opened #131 "Replaying instream rtmp "Error in Actionscript""
My configuration:

[code]

This loads stream0 fine. I then click a button and it loads stream1

[code]

instream and without the black screen <- important
This works fine.

However if I try load stream0 again it fails

[code]

console.log -> uncaught exception: Error in Actionscript. Use a try/catch block to find error.

I've tried using stream/playlist arrays which cycle fine, but neither will do

[2013-09-06 10:54] danrossi commented on #131
Please provide a working page please. Im sure the error is easy to find.

[2013-09-06 11:15] alexcroox commented on #131
OK I've seperated my code and made a standalone example:

http://alexcrooks.me/others/streamtest/

There are 2 streams, clicking the cycle button will switch from 0 -> 1 then again 1 -> 0 ERROR

[2013-09-06 11:52] danrossi commented on #131
You are trying to play an instream within and instream, it may need to be closed first ... ill have to see how Ova deals with this. The feature is for ads playing within a clip. Whats the purpose of this ?

[2013-09-06 12:00] alexcroox commented on #131
To rapidly switch between 3 camera angles pointing at a robot arm. I need it to be as fast as possible as they are on a time restricted game.

[2013-09-06 12:14] danrossi commented on #131
If you are using rtmp, use dynamic stream switching. you will need to build a plugin for this though there is no js api for this im afraid but a plugin can make an api available.

using that feature isn't seamless anyway its calling a normal play.

[2013-09-06 12:19] alexcroox commented on #131
Well it pauses the frame of the current video and waits for the next one to load before replacing it with that one (takes max 1 second for me), instead of the default behavior of showing a black loading screen. The timings may be similar but it's a perception of speed.

[2013-09-06 12:24] danrossi commented on #131
Still its not a feature you are trying to use it for.

[2013-09-09 11:49] anssip commented on #121
@blacktrash Why is playerId parsing with regex needed?

[2013-09-12 10:14] phloxic commented on #121
Maybe I'm wrong, but I understood that api methods and events normally only work if there's a playerId present - again normally generated by the API scripts.
To prevent "illegal" annexion of the api by rogue embedding scripts, my idea was to exclude playerIds which are not generated by the api script. If there is indeed a pattern to which the playerIds generated by flowplayer.js obey.
A lot of ifs

[2013-09-12 10:46] danrossi commented on #121
This might be possible via the application domain api possibly for the loader. It will follow whatever the cross domain policy is normally.

[2013-09-17 22:38] phloxic opened #132 "fms token authentication via rtmpe"
Secure streaming plugin supports Wowza and lighttpd.

See: http://flowplayer.org/forum/#!/moot/16818

[2013-09-18 05:58] danrossi commented on #132
There is no such thing with FMS. they should probably use the many protection features available with AMS 5.1 now ie PHDS / PHLS and swf protection etc.

[2013-09-18 09:27] phloxic commented on #132
There is some stuff available via Google, e.g.: http://www.adobe.com/devnet/adobe-media-server/articles/scaling_securing_fms3.html#articlecontentAdobe_numberedheader_1
?

[2013-09-18 10:25] danrossi commented on #132
Yes it's pseudo code there is no default solution. The user would have to modify their server application code to provide the same feature as Wowza. Worse is having to implement the authentication module via c++ code. Their best bet is enabling DRM with HDS perhaps OR develop the server side code and customise the secure token plugin for their needs ?

[2013-09-18 22:35] danrossi commented on #86
Can't see your comment. Not part of Flowplayer although it was going to be, not free anymore. Supported on my page. Have made a tonne of improvements.

[2013-09-19 08:50] phloxic opened #133 "brselect + pseudostreaming restarts clip on stream switch (regression)"
Regression in 3.2.16 core:
- http://flowplayer.blacktrash.org/test/brselect-pseudo.html - 3.2.16 core shows the problem.
- http://flowplayer.blacktrash.org/test/brselect-pseudo-3215.html - 3.2.15 core works as expected with the latest plugins.

See also: http://flowplayer.org/forum/#!/moot/17258

[2013-09-19 09:14] phloxic opened #134 "bwcheck + pseudostreaming: no dynamic switches, strange bwDone results"
http://flowplayer.blacktrash.org/test/bwcheck-pseudo.html
does not do any dynamic stream switches at all.

With checkOnStart
http://flash.flowplayer.org/demos/plugins/streaming/bandwidth-detection.html reports
576.6652497654785
http://flowplayer.blacktrash.org/test/bwcheck-pseudo-onstart.html reports
3246.7877970950713
for the same array of videos from the same server?!
http://flowplayer.blacktras

[2013-09-19 09:28] adammada commented on #134
I see that check is made on flowplayer swf file, not on movies:

netConnectionUrl: "http://flowplayer.blacktrash.org/flowplayer-3.2.16.swf",

vs

netConnectionUrl: "http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf",

Probably  server "releases.flowplayer.org" has throttled download speeds and it will never detect higher speed no matter what internet connection we have.

[2013-09-19 15:29] danrossi commented on #133
the dev might be fine and I think I've posted it before, it's due to this metadatachange event business that has been rolled over to that plugin also as it needs this event to reset its position.

[2013-09-19 15:31] danrossi commented on #134
that feature is not for pseudo streaming.

[2013-09-19 16:40] wigurenko opened #135 "Video froze on Mac OS"
Video froze on Mac OS, on 12 sec, especially on Safari, but sound is steel playing and thumb moving
http://yadi.sk/d/uEavA_x79ZD6m

[2013-09-19 16:42] phloxic commented on #134
Aha. Would have been nice to mention it when I asked about it in conjunction with php-pseudostreaming to bring http://flash.flowplayer.org/plugins/streaming/bwcheck.html#features up to speed.
Will update that section accordingly. bwcheck onStart will probably even work with php-pseudostreaming.

[2013-09-19 17:09] adammada commented on #133
Here: https://github.com/flowplayer/flash/issues/88 ? Links are not working. Could you give link to compiled (commercial)  version?

[2013-09-19 17:28] phloxic commented on #133
Closing in favour of #88

[2013-09-19 17:28] #133 closed, assigned to anssip

[2013-09-19 17:37] phloxic commented on #134
Closing in favour of doc issue https://github.com/flowplayer/work/issues/787

[2013-09-20 01:58] danrossi commented on #135
Sounds like encoding and video sync issues ? Link to a page you are working with

[2013-09-20 02:01] danrossi commented on #134
hmm as a matter of fact the netstream statistics may / may not be for http streams, ill have a look later on today what it reports but theoretically its for rtmp and then the httpstreaming one is for HDS.

[2013-09-20 09:47] phloxic opened #136 "httpstreaming live controls: allow removal of "duration" display"
(pardon if this is already reported - I could not find it)
With live HDS or http streams the controlbar always shows the "duration".
See: http://flash.flowplayer.org/demos/plugins/streaming/bwcheck-hds-live.html
In most circumstances this is not useful or distracting.
Make the controlbar behave like when setting clip.live for rtmp live streams (omit duration).
By default? Optional?
What good is th

[2013-09-20 10:22] danrossi commented on #136
^ doesn't look like using the dev files I've posted many times. The dev sets the duration to zero on a live stream as the HDS feature is still setting this and is required for a dvr type stream.

[2013-09-20 10:49] phloxic commented on #136
And when the duration is zero, it is also not displayed?

[2013-09-20 11:29] danrossi commented on #136
No i dont believe it displays like with rtmp live streaming.

[2013-09-20 12:29] phloxic commented on #136
So there will be a constant 0 there? - Why can't we just do the same as for other live streams: specifying `live: true` for the clip will cause the controlbar not to show duration?

[2013-09-20 12:34] danrossi commented on #136
test those files I sent in other tickets it won't display as a 0 value is considered empty makes no difference.

[2013-09-24 17:15] phloxic commented on #134
To recap:
1. bwcheck + pseudostreaming only supports checkOnStart without fullscreen switch, i.e. as if swtichOnFullscreen was set to false - this also seems to work for php-pseudostreaming btw.
2. bwcheck dynamic + pseudostreaming is not supported

2) begs the question why a (almost) smooth stream switch without restart is possible with bitrateselect, but not with bwcheck? Isn't the switching mec

[2013-09-25 02:47] danrossi commented on #134
1. for psuedo the fullscreen switch is what the purpose for if its not switching for pseudo when going fullscreen thats a problem.

2)  I don't understand what you mean here please explain ? Are you talking about why it doesn't work with pseudo ? Well the stats might not be available for progressive downloading, the rules are most definitely not setup for that either,  issue number 2, when making

[2013-09-25 14:34] phloxic commented on #134
I'm fine with not supporting dynamic stream switching for pseudostreaming because it's not seamless - the lack of seamlessness is not so annoying when you do a manual switch.
But switchOnFullscreen _is_ a dynamic switch - or is that seen as manual too, and doing a sort of checkOnStart with seek? ... ah, I see, it switches, but does not do a seek (restarts video). Hm.
My personal config preference

[2013-09-25 14:38] phloxic commented on #134
OK, I will update the docs - hopefully I've now sussed the behaviour.

[2013-09-25 14:50] wigurenko commented on #135
I found out that this is due to 'hardware acceleration', is it possible disable it from flowplayer configuration, without user interaction?

[2013-09-25 15:14] danrossi commented on #134
^ is it not attempting to change to a different file on switch to fullscreen ? Yes it should try and do a manual change to a new file if it can. This is reliant on the screen size rule though not just bandwidth settings so it will goto a bigger file on fullscreen. That size rule was a requirement added in by anssi.

[2013-09-25 22:48] phloxic opened #137 "rtmpt: server is still polled after stop() or even close()"
Problem description by customer:

---

We have been observing a problem where rtmpt streams are not being properly closed when a
flowplayer_flash object stops playing.
This means that the server sees the stream as still open long after the client is gone
wasting resources server side.
For our case the cost of non dying server side streams is very high.

In the case of normal rtmp this is not a pro

[2013-09-25 22:49] phloxic commented on #137
@anssip - this is http://otrs.flowplayer.org/otrs/index.pl?Action=AgentTicketZoom;TicketID=35194

[2013-09-25 23:13] phloxic commented on #134
Yes, and it works - but I have to document that it restarts the video then, as this is surprising behaviour.

[2013-09-26 00:00] danrossi commented on #134
Does it not seek to the current position again ?

[2013-09-26 00:08] danrossi commented on #134
hmmm come to think of it I can't see why it can't request the seek position when requesting the new file. Perhaps this is what you are asking for right ? Its currently doing it once the new file has received metadata.

I believe I tried to just call the new file with the seek time but it requires metadata i think at the start of the file to begin playback properly not sure what was going on there.

[2013-09-26 06:44] adammada commented on #134
Not sure, but isn't it that excactly that bug (regression) in latest (16) flowplayer core which happens in bwcheck and bitrate selection, but works in previous (15) ?

[2013-09-26 07:51] danrossi commented on #137
The default is to seek back and pause for fast playback. I think I added in something when changing to a different provider to close and disconnect the rtmp stream completely and it would be dispatching events otherwise. there is two options on the stop method on rtmp. If they tweak their idle timeouts it may affect paused states. How are you calling close again exactly ? If you call close it shou

[2013-09-26 07:53] danrossi commented on #134
You've lost me come again ? If its not attempting to seek back to the current position when changing the stream in fullscreen need a demo and could be a problem. Thanks.

[2013-09-26 08:08] adammada commented on #134
Sorry, i meant that: https://github.com/flowplayer/flash/issues/133 , but it seeks, just after seeking plays from start.

[2013-09-26 08:41] phloxic commented on #134
Demo: http://flowplayer.blacktrash.org/test/bwcheck-pseudo-onstart.html
Goes back to beginning, sometimes without updating current time in controls.
Looks indeed suspiciously like #133
Checking with 3.2.15 now for regression.

[2013-09-26 08:42] phloxic commented on #134
Yes, indeed a regression, works with core 3.2.15 - reopening.

[2013-09-26 08:44] phloxic commented on #134
Working demo with 3.2.15 core: http://flowplayer.blacktrash.org/test/bwcheck-pseudo-onstart-3215.html

[2013-09-26 08:54] danrossi commented on #134
Not very latest files I believe can someone please try these

https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-3.2.13-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.pseudostreaming-3.2.12.zip

I believe the fix is in this.

[2013-09-26 08:55] danrossi commented on #134
switchOnFullscreen: true,

you might want to enable this I think its disabled by default.

[2013-09-26 09:04] danrossi commented on #134
sorry it is enabled by default I can see it doing a detection when changing from fullscreen that is fine but the returned bandwidth is less than the bitrate so just stays at 800. Its set to not switch if the same bitrate.

http://flowplayer.blacktrash.org/flowplayer-3.2.16.swf this file incurs too much latency therefore I'm only getting 280k detected here.

[2013-09-26 09:12] adammada commented on #134
Works!

[2013-09-26 09:15] danrossi commented on #134
https://github.com/flowplayer/flash/pull/95 it could be part of this pull request Im afraid I can't do anything about that. Those go into the dev branch which has not made it to the master either. Thanks for your help confirming the fix.

[2013-09-26 09:28] adammada commented on #134
I have another related bug. When i was using .15 core i hoped that in .16 it will be fixed, but it isnt. So i will describe it.

When you have pseudostreaming + bitrate selection changing bitrate often makes "seek cursor" position jump some. It has to jump to nearest keyframe, but its not that. It sometimes jumps to the end of buffered area, then jumps back. Anyway its all good if you are not too

[2013-09-26 10:05] danrossi commented on #134
Its like seeking with pseudo streaming so whatever is in the keyframes metadata ? Has nothing to do with bitrate switching. What if you try to seek to that same time normally ?

[2013-09-26 10:27] phloxic commented on #137
According to the customer close() over http tunneling does not actually close the connection, but still polls the server.

[2013-09-26 10:27] adammada commented on #134
No. I can seek how much i want within one bitrate file and pseudostreaming works just fine.

But when i switch bitrate SOMETIMES "seek cursor" jumps FAR forward and then goes back.  (and it can be far enough to show "Play again" )

Maybe its because i'm swithcing bitrates when user goes to and back from fullscreen. Just look here:

http://flowplayer.blacktrash.org/test/brselect-pseudo-3215.html

a

[2013-09-26 10:45] danrossi commented on #134
^ is this using the file i just sent or else we're not on the same page. and a more basic example without ads and stuff. im assuming you mean it goes back to zero when changing to the new file. Thats because it has to completely change to the start of a new file and seek back to the current position.

[2013-09-26 10:48] adammada commented on #134
I will back to it later with proper demo page and probably some screencapture showing what i mean.

[2013-09-26 12:37] danrossi commented on #137
well calling the close api methods calls to completely close the connection. So perhaps require the type of server perhaps ? They should still play around with idle timeout settings.

[2013-09-26 12:39] danrossi commented on #137
http://help.adobe.com/en_US/flashmediaserver/configadmin/WS5b3ccc516d4fbf351e63e3d119f2925e64-7ff0.html#WS5b3ccc516d4fbf351e63e3d119f2925e64-7fe9 something like this its off by default

[2013-09-30 05:45] anssip commented on #137
Calling $f().stopBuffering() closes the connection. With this it will go here: https://github.com/flowplayer/flash/blob/master/core/src/actionscript/org/flowplayer/controller/NetStreamControllingStreamProvider.as#L874

Not sure if we should always use this with rtmp.

[2013-09-30 10:17] phloxic commented on #137
grrrh, should have thought of stopBuffering - makes sense over http.

[2013-10-06 09:55] phloxic opened #138 "live dvr (devel f4m, httpstreaming): onStart and onResume not fired"
User example: http://test.yourgamecam.com/flowplayer
Live from 7am to 11pm Pacific Time.

Uses devel
http://flowplayer.blacktrash.org/dev/flowplayer.f4m-3.2.10-dev.swf
http://flowplayer.blacktrash.org/dev/flowplayer.httpstreaming-3.2.11-dev.swf

See: http://flowplayer.org/forum/#!/setup_configuration#17460_we_trying_to_

[2013-10-06 11:34] danrossi commented on #138
feed is offline now but I can test with a wowza

[2013-10-06 12:45] danrossi commented on #138
wasted a bit of time it's fine

[LOG] time 23:43:00.466 :: org.flowplayer.httpstreaming::HttpStreamingProvider : onNetStatus(), code: NetStream.Play.Start, paused? false, seeking? false
[LOG] time 23:43:00.486 :: org.flowplayer.httpstreaming::HttpStreamingProvider : in NetStreamControllingStremProvider.onMetaData: [Clip] 'http://localhost:1935/dvr/livestream/DVR_b125000_w1963203422_qRFZS.abst/'
on

[2013-10-06 16:41] phloxic commented on #138
Please have a look at http://test.yourgamecam.com/flowplayer again - only onPause is fired, neither onStart nor onResume is fired.

[2013-10-08 04:13] ygc commented on #138
I enabled logging (level debug) on flowplayer and have saved the log to a file. I dont see a way to attach it to this issue and is about 330k in size. Let me know if there is somewhere I can upload it if you need it.
I took a quick look and search for onStart and onResume. I found the following:

[LOG] time 20:48:13.722 :: org.flowplayer.model::EventListener : [ClipEvent type="onStart" info=false]

[2013-10-08 13:08] nderambure commented on #119
Hi @danrossi, will you release the new versions of f4m and httpstreaming soon ?
Did you work on it since 3 month, so I can test again with the new dev version ?
Thank you for your time !

[2013-10-10 11:01] danrossi commented on #119
I believe it has all been merged into the dev branch now. Every single change and fix for the past 6 months is in there now.

[2013-10-11 08:16] phloxic opened #139 "automatic audio provider switch too aggressive"
A clip name with mp3 suffix triggers an attempt to load the audio plugin even if `http` is specified explicitly as provider by the user.
This is the reason why aac shoutcast streams do not work:
http://flowplayer.blacktrash.org/test/shoutcast.html
Their filenames end in `.mp3`.

See also: http://flowplayer.org/forum/#!/embedding_analytics#want-your-reader-to-a-web-r

@anssip - as it might be diffi

[2013-10-12 08:40] phloxic commented on #81
See also: http://flowplayer.org/forum/#!/setup#at-stream-when-i-pause-to

[2013-10-12 11:01] danrossi commented on #81
pausing a live stream will stop it by default. stopLiveOnPause: false on the clip property try that.

[2013-10-12 12:52] phloxic commented on #81
Never heard about `stopLiveOnPause` before, but, yes it pauses displaying the last frame - unfortunately it does not resume: http://flowplayer.blacktrash.org/test/live.html

[2013-10-13 02:58] danrossi commented on #81
cant see logs but likely a pause event is not firing. I think that config is there is because you cant entirely pause a live stream i think. It will simply timeout related to the idle settings on the server.

[2013-10-13 23:05] phloxic commented on #138
@danrossi - ping!

[2013-10-13 23:10] phloxic commented on #81
Whatever. Currently the expected behaviour is happening with core 3.2.15 - no blank screen.

[2013-10-14 02:22] danrossi commented on #138
^ see the logs above those events are available as they appear when metadata is available. as Ive yet to be able to see that stream up I'm not much help.

[2013-10-14 03:25] ygc commented on #138
If changed the stream to a different DVR feed that runs from 00:15 to 23:55 pacific time every day.

Cheers,
Jo

[2013-10-14 03:53] danrossi commented on #138
there is something certainly very wrong with the stream. can you try setting up a new dvr stream name and trying again. notice some errors on the console. the startup time gives it away because its 10 hours long.

[2013-10-14 05:40] ygc commented on #138
I stopped the stream, deleted the DVR files and restarted the stream and
now the events fire as expected. So this brings up a question.

Does flowplayer have a limit on the length of a DVR recording using HTTP
streaming?
We run our cameras in most cases for 16 hours a day, a few for nearly 24
hours. Our users need to be able to scrub back from live to the beginning
of the day.
What is the limit on

[2013-10-14 07:58] phloxic opened #140 "onTextData returns empty value"
http://flowplayer.blacktrash.org/test/netstreamevent.html
The `onTextData` netStreamEvent always returns an empty object (array?) in the console.
Is this to be expected? Doesn't the caption plugin use these?

See: http://flowplayer.org/forum/#!/scripting_api#netstreamevent-ontextdata

[2013-10-14 09:55] danrossi commented on #138
it looked corrupted to me that is all it likely was not triggering metadata.

[2013-10-14 13:52] phloxic commented on #88
Note to self: devel pseudostreaming plugin which fixes this at http://flowplayer.blacktrash.org/dev/flowplayer.pseudostreaming-3.2.13-dev.swf

[2013-10-14 13:58] phloxic opened #141 "bitrateselect + progressive: does not autoPlay default item"
It's clear that this means a restart of the clip at bitrate switch.
But should it work?
Or is bitrateselect + progressive download not supported at all?

I believe it worked at some point because I have this demo:
http://flowplayer.blacktrash.org/test/brselect-progressive.html
but currently it does not.

See also: http://flowplayer.org/forum/#!/setup_configuration#two-bitrates-via-two-differ

[2013-10-14 14:00] phloxic commented on #141
Actually it works, except for autoPlay, it seems.

[2013-10-14 14:07] danrossi commented on #140
The argument returned is empty on that video outside of flowplayer.

[2013-10-14 14:44] ygc commented on #138
Hmm. I have added the original DVR streamso now there are two to observe.
test.yourgamecam.com/flowplayer is there and I get the onStart/onResume
events just fine, even with 7+ hours of DVR.
test.yourgamecam.com/flowplayer is the other stream. I just restarted it
clean and it doesn't give the onStart/onResume events.
Both cameras are the exact same model with same firmware revision.
They are feedi

[2013-10-14 14:57] phloxic commented on #140
I can see that it's empty, yes. So, when is it not empty?
The video has e.g. trackid etc.?

[2013-10-14 15:02] ygc commented on #138
Once more thing we've noticed. With the streams that do not give onStart,
the clip.duration is always 0 (checked in onPause handler), even though it
is playing and the control bar displays the correct duration. Looks like
control bar is registering for OSMF onDurationChange and onTimeUpdate
events.

On Mon, Oct 14, 2013 at 7:44 AM, Jo Stockley jvs@yourgamecam.com wrote:

[2013-10-14 15:34] danrossi commented on #140
it would be in info["trackid"]  normally.

[2013-10-14 15:51] danrossi commented on #138
the duration gets updated elsewhere outside the metadata events its a dvr event. the duration is only set to zero if its a live only stream. it should start as default with a duration of the current fragment start time. i could see the duration updating in your player so not sure what you are talking about sorry.

[2013-10-14 15:54] danrossi commented on #141
i can see it changing the files for me.

[2013-10-14 16:40] phloxic commented on #140
Yeah, so a) the docs are wrong because they are talking about an object, not an array, and b) what is "normally"?

[2013-10-14 21:52] phloxic commented on #141
Yes, it works - the only minor bug is that it behaves like `autoPlay: false`.

[2013-10-14 22:37] phloxic commented on #109
I have now looked at this sample again - http://flowplayer.blacktrash.org/test/accessibility.html - and:
- you cannot get "into the player" by tabbing, you have to use the mouse to click the player first
- setting `SeamlessTabbing: "true"` does not change the behaviour - at least when it comes to tabbing I get the same behaviour when I omit this. Is this for Screen readers or IE only?

A user conf

[2013-10-15 01:03] danrossi commented on #141
It's doing a hard reset yes because it cannot seek.

[2013-10-15 01:04] danrossi commented on #109
jaws only works on IE

[2013-10-15 01:04] danrossi commented on #109
or this feature does anyway

[2013-10-15 07:32] phloxic commented on #141
The hard reset is expected, no problem.
What it doesn't do is autoPlay the default bitrate item.
imho a minor bug, but a bug.

Will update bug title.

[2013-10-15 07:35] phloxic commented on #141
@danrossi - just to be perfectly clear: I don't think this is urgent or important, can probably be worked around in most situations, and using bitrateselect with progressive download is a rather rare scenario anyway.

[2013-10-15 07:36] phloxic commented on #109
And `SeamlessTabbing` _does_ make a difference in Jaws?

[2013-10-15 07:39] phloxic commented on #109
Probably all the requirements only make a difference in Jaws and IE?
(using an A tag as container also make no difference in other circumstances)
Can you confirm?
Then this must be documented as well.

[2013-10-15 08:00] danrossi commented on #140
if the info object is available info["trackid"] it would appear here.

[2013-10-15 08:06] danrossi commented on #141
it's automatically playing the next file. its not calling the "play" method as in acting like a playlist its doing a reset on the stream internally so it keeps playing. Is that not intended ?

[2013-10-15 08:07] danrossi commented on #109
It's an IE only feature I'm afraid therefore only tested on IE.

[2013-10-15 12:08] phloxic commented on #109
IE only, or IE in combination with Jaws only?

[2013-10-15 12:12] phloxic commented on #140
Well, the info object _is_ available, it's just not an _object_, but an _empty_ array.
What info does the `captionsTrackFilter` evaluate then?
Where does it get its information from?
How must the clip be muxed(?) to not return an empty array? Any samples?

[2013-10-15 12:17] danrossi commented on #109
The JAWS feature only works with Flash on IE as there is the accesibility API for it. Therefore have only checked tabbing in IE which is needed for this.

[2013-10-15 12:19] danrossi commented on #140
http://flowplayer.blacktrash.org/test/netstreamevent.html it seems to be working here now, that text is obtained from ontextdata

[2013-10-15 12:22] phloxic commented on #141
???
Normally Flowplayer autoplays - unless you set `autoPlay: false`, bitrateselect does not change this behaviour: http://flowplayer.blacktrash.org/test/bitrateselect.html
But http://flowplayer.blacktrash.org/test/brselect-progressive.html does not autoplay.

[2013-10-15 12:40] danrossi commented on #141
freaky the first example should not be autoplaying.

[2013-10-15 12:41] phloxic commented on #140
Huh? there is no text returned in the console, there is just an empty array?
The captions plugin is only installed to show that the captions work - it's about the `onTextData` netstream event which returns nothing meaningful. So, if the player, as you say, obtains its info from ontextdata, then there's a bug in the `onNetStreamEvent` handler - as originally stated in this report.

[code]

should n

[2013-10-15 12:48] danrossi commented on #141
not happening with dev flowplayer

[2013-10-15 12:51] danrossi commented on #140
ok

[2013-10-15 20:16] qualia100 commented on #109
Our company uses flowplayer and we had the independent company to evaluate the player and had some critique about accessibility of the player (for us, it means 508 compliance).

The main point is that the player has to be accessed and controlled by keyboard only:

"By far the best situation is to ensure that the player's controls can be operated using standard keyboard commands for user interface

[2013-10-16 08:10] danrossi commented on #109
Anything other IE requires hacks see https://github.com/englandrp/Cross-browser-Flash-tabbing-solution

[2013-10-16 08:45] phloxic commented on #141
Why should the first example not be autoplaying?

[2013-10-16 08:50] danrossi commented on #109
not even happening with JWPlayer if you must setup a new ticket and label it as such as it's unrelated to the screen reader properties. It may require alot of work with the js api + hacks and changes in the player itself. That would have to get confirmed first though.

[2013-10-16 08:54] danrossi commented on #141
I was trying to figure out what you meant it's ok. "not happening with dev flowplayer"

[2013-10-16 19:46] qualia100 commented on #109
I checked out that hack you suggested and I have to admit I am not that handy with actionscript. Has anyone tried it in a Flowplayer? It seems that there is a bit that has to be added to the flowplayer code.
And what exactly is not happening with JWPlayer - tabbing?

[2013-10-17 00:08] danrossi commented on #109
This is a feature request yes

[2013-10-24 06:28] phloxic commented on #71
Interest in "Auto" menu: http://flowplayer.org/forum/#!/plugins#flowplayer-flash-user-driv
Maybe this should go into a separate feature request, disentangled from this bug?

[2013-10-24 07:26] danrossi commented on #71
http://flowplayer.electroteque.org/widevine i've done it as mods for the widevine plugin also.

[2013-10-25 15:52] daveo1001 commented on #121
Hi gentlemen,
I was wondering how the solution of this matter was going.

[2013-10-25 16:09] daveo1001 commented on #121
Doh, If I knew how to read I would have seen that anssip fixed it in the dev branch.
I now have a follow up stupid question, how does one take the github source files and make a swf? I've got a commercial version.

[2013-10-27 07:48] danrossi commented on #121
checkout the dev branch + flash-build rep. You run the build file from the flash-build directory now.

[2013-10-28 18:01] moumenrahhali opened #142 "Loading the video by url directly from the flash player ?"
is it possible to use it like this ?
http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf?someconfig=link to the video

[2013-10-28 21:29] daveo1001 commented on #121
Pew. Spent all day trying to set up the flex/ant/build. I'm officially deeming it over my head.

Looking forward to an official release. :grin:

[2013-10-28 23:30] danrossi commented on #142
?config={ clip: "url": "video" }

Or you would have to customise it by building in a custom clip resolver plugin, so you could just do

?videoid

[2013-10-28 23:31] danrossi commented on #121
If you follow the developer instructions all you have to do is type "ant build-biz"

[2013-10-29 00:34] moumenrahhali commented on #142
Something like this ?
http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf?config={clip:"link to mp4 video":"video"}
Didn't work ><

[2013-10-29 07:21] phloxic opened #143 "content: css method also applicable to nested objects?"
Is the `css()` method, when used with the content plugin, supposed to have an effect on nested objects too?

Like:

[code]

[2013-11-07 10:04] phloxic opened #144 "audio plugin does not work in latest Mac Safari"
Just try: http://flash.flowplayer.org/plugins/streaming/audio.html
with Safari >= 6.1 (Mac OS 10.8.5 and later).

[2013-11-07 10:09] phloxic commented on #144
Correction: seems only to happen with Safari 6.1 on 10.8.5 - Safari 7.0 on Mavericks seems ok.

[2013-11-07 10:11] phloxic commented on #144
Grrrh. Works after emptying cache _and_ restart + empty cache.
Really, modern browsers, very funny.

[2013-11-07 10:11] #144 closed, assigned to anssip

[2013-11-07 13:57] phloxic opened #145 "Inconsistent scrubbing/seeking behaviour, especially in paused state"
With rtmp.

scrubbing issues:
1. start playback
2. pause
3. scrub fast to various positions
4. time tooltip is not properly updated or resume happens at a surprising/different position

clicking issues:
1. start playback
2. pause
3. click anywhere on timeline
4. nothing happens

Works most of the time after a scrub.

Best tested with longer videos:
http://flowplayer.blacktrash.org/test/rtmp.html
h

[2013-11-07 14:03] ViliusS commented on #145
I can confirm this behaviour. Also similar inconsistencies can be seen at JavaScript level -> https://github.com/flowplayer/flash/issues/90

Sometimes onStart event is fired before onBegin. On resume sometimes onBegin is fired, sometimes not. Etc.

[2013-11-07 14:56] phloxic commented on #105
Probably related: #145

[2013-11-07 17:40] qualia100 commented on #109
Thanks for pointing me in the right direction - I was not able to use that solution, but it helped me to find my own. Now users can tab into the Flowplayer and out of it in most browsers (we are still testing...). However, the "tab" key goes through 5 'buttons' - Play Overlay, logo area, Play/Pause, Mute/Unmute and Fullscreen. What about the sliders - video duration and volume control? Why tab nev

[2013-11-09 12:30] danrossi commented on #109
How are you giving flash focus ? The internal tabbing indexes have some things disabled because during these accessibilities updates it was for jaws therefore screen readers, you can't really control the sliders with the keyboard some key commands would have to be setup for that.

[2013-11-11 15:07] cgrice opened #146 "Pipes in linkUrl breaks regex"
When setting the linkUrl of a clip to a URL that includes pipes in query params, the url fails validation. For example, the following url will fail:

http://example.com/test?118990|114|&iari=281214

[2013-11-12 19:36] qualia100 commented on #109
I used the same idea as in this site:

http://freshmeathouse.channel4.com/#/hallway

More specifically, their javascript file that embeds the Flash object. When last html element before Flash object gets a focus, search for Flash object on a page and set focus on it. But if you try using tab on that site you will see that once you are in the Flash, you are stuck there. So to resolve that issue, I

[2013-11-12 20:54] ooghry opened #147 "utf-8 character in cuepoint and caption"
hi all
i use flash flowplayer.commercial-3.2.16.
when i use utf-8 character in closed captions or cuepoint in google chrome every thing is fine,but in FF and IE,direction and ... are cluttered.
is this flash fault or flowplayer?
tnx
sorry for my poor language

[2013-11-13 02:12] danrossi commented on #109
works !

[2013-11-13 08:53] phloxic commented on #145
Another symptom:
When one _is_ able to seek in paused state sooner or later the loading animation is visible at the same time as the pause button. The player _looks_ like it's in loading and paused state at the same time (it is actually in paused state 4).

[2013-11-13 10:13] phloxic commented on #87
Cannot repro anymore. Works here: http://flash.flowplayer.org/demos/plugins/streaming/audio-live.html

[2013-11-13 10:13] #87 closed, assigned to danrossi

[2013-11-13 10:18] phloxic opened #148 "3.2.16 rtmp live does not refresh metadata"
Another regression regarding live streams in 3.2.16 core.

In this demo http://flowplayer.blacktrash.org/test/audio-live.html clip metaData is refreshed when a new song starts. This demo works with core 3.2._15_ and rtmp 3.2.12, but not with core 3.2._16_ and rtmp 3.2.12.

See also #81
and: http://flowplayer.org/forum/#!/plugins#metadata-out-of-rtmp-audio

[2013-11-13 16:09] phloxic opened #149 "free player logos linkUrl does not point to fp flash site"
The logos should point to http://flash.flowplayer.org now, not http://flowplayer.org

@anssip - I found one instance here:
https://github.com/flowplayer/flash/blob/master/core/src/actionscript-commercial/org/flowplayer/view/LogoView.as#L309
But where is the one visible in the bottom left corner of the screen?

[2013-11-16 11:03] danrossi commented on #148
it's because its a server side playlist so the filename is the same. it will take a while to test this as its an audio server playlist and can't replicate it easy. what about in onMetaDataUpdate ?

[2013-11-16 14:36] phloxic commented on #148
Just let
http://flowplayer.blacktrash.org/test/audio-live.html (working 3.2.15)
http://flowplayer.blacktrash.org/test/audio-live-3216.html (broken 3.2.16)
run in parallel and you'll see the difference.

If you read the forum thread you can see that I first argued with "same filename" as well - only to discover that it works all fine in 3.2.15 ...

I can check `onMetaDataUpdate` - but "secret" and

[2013-11-16 14:44] phloxic commented on #148
`onMetaDataUpdate` (if it exists) does not do anything at all, or is not called ever.

[2013-11-16 14:47] phloxic commented on #148
Seems as mystical an event as `onMetaDataChange` which I never saw do anything either: https://github.com/flowplayer/flash/issues/122#issuecomment-21712254

[2013-11-17 15:56] danrossi commented on #148
yeh i can see its called onMetaData on the console no idea will have to look during the week.

[2013-11-18 11:19] nikita-v opened #150 "Flowplayer 3.2.16 single quote in filename"
Hi!
When the file name contains a single quote (even with escaping), I see a black screen.

sorry for my poor language

[2013-11-18 13:22] danrossi commented on #150
Yes this is a pest I had implemented a replacement change in the javascript but it was taken out by request. You have to do a unicode replacement for these. A quote in a filename is also bad formatting in the first place.

This is the code I had to put back into the javascript api for a client as too many fields had to be replaced and got messy and would randomly break ! something like that.

 obj

[2013-11-18 13:29] danrossi commented on #148
the clip argument is showing up as zero.

[2013-11-18 14:10] danrossi commented on #148
javascript is not getting the updated clip on callback ? it's being updated fine internally.  the event system is pretty mad so will take a while.

[2013-11-18 14:29] danrossi commented on #148
js api needs the event added to extend clip properties before calling the callback method.

[2013-11-18 14:37] danrossi commented on #148
I stuffed it up. Have to make a branch. It will be fixed soon.

[2013-11-18 14:44] danrossi commented on #148
its in.

[2013-11-18 14:48] danrossi commented on #147
do you have a screenshot of what you mean.

[2013-11-18 14:49] danrossi commented on #142
you need to urlencode it.

[2013-11-18 14:50] danrossi commented on #142
config=path/to/config is also possible.

or modify to suit your needs with a custom url resolver might work.

[2013-11-18 14:51] danrossi commented on #135
accelerated: false it's not on by default though

[2013-11-18 15:00] ooghry commented on #147
@danrossi i ask my question in http://flowplayer.org/forum/
and i create minimal example some hours later.

[2013-11-18 15:34] phloxic commented on #148
So what does `onMetaDataChange` do what `onMetaData` did not already in 3.2.15?

[2013-11-18 18:59] phloxic opened #152 "js controls: allow streaming protocols"
Currently the javascript controlbar does not support streaming protocols because it expects a growing buffer - `status.bufferEnd`.
By making a fake buffer equal to duration the plugin also works with streaming protocols.
First stab here: http://flowplayer.blacktrash.org/dev/flowplayer.controls-3.2.11-dev.js
Demo: http://flowplayer.blacktrash.org/test/jscontrols-rtmp.html
See also: http://flowplaye

[2013-11-18 21:28] danrossi commented on #147
please paste it here.

[2013-11-18 21:35] danrossi commented on #122
I just found time to search back it's related to this #50. I can take it out but you will be back to where we started it will dispatch metadata during each transition. its simply checking if metadata is already set on the clip and firing a different event. It also gets cleared to be reset when moving to a new playlist item. Did you still need this open ?

[2013-11-18 21:37] danrossi commented on #148
#50 #122

[2013-11-19 09:21] anssip commented on #112
Nope. Just send the peeps to Flowplayer HTML5.

[2013-11-19 09:21] #112 closed, assigned to nobody

[2013-11-19 09:46] anssip commented on #152
@blacktrash can you finish this :-)

[2013-11-19 09:49] phloxic commented on #152
Let me just test a bit more ;-)

[2013-11-19 09:59] phloxic opened #153 "js controls: go to "paused" state onFinish"
To show the _play_ button onFinish (for replay).

[2013-11-19 10:00] phloxic commented on #152
Also taking care of #153

[2013-11-19 10:15] phloxic commented on #153
Demo: http://flowplayer.blacktrash.org/test/jscontrols-rtmp.html

[2013-11-19 10:29] danrossi commented on #58
Leaving this open until release.

[2013-11-19 10:30] danrossi commented on #60
Leaving this open until release.

[2013-11-19 10:31] danrossi commented on #57
closing this for now.

[2013-11-19 10:31] #57 closed, assigned to nobody

[2013-11-19 10:31] danrossi commented on #61
Is this still an issue ?

[2013-11-19 10:32] danrossi commented on #68
what is the resolution for this can it be closed ?

[2013-11-19 10:33] danrossi commented on #70
closing this for now.

[2013-11-19 10:33] #70 closed, assigned to danrossi

[2013-11-19 10:33] danrossi commented on #28
closing this for now.

[2013-11-19 10:33] #28 closed, assigned to danrossi

[2013-11-19 10:34] danrossi commented on #41
what is the resolution for this ?

[2013-11-19 10:39] danrossi commented on #77
leaving this open until release

[2013-11-19 10:41] danrossi commented on #71
The auto menu feature might need a new ticket if it will happen is another story, changing to testing for release.

[2013-11-19 10:41] danrossi commented on #75
leaving this open for release.

[2013-11-19 10:42] danrossi commented on #79
closing this for now not much can be done unless the text label is changed to not embedded and therefore doesn't render smoothly.

[2013-11-19 10:42] #79 closed, assigned to danrossi

[2013-11-19 10:43] danrossi commented on #107
closing this for now.

[2013-11-19 10:43] #107 closed, assigned to danrossi

[2013-11-19 10:45] danrossi commented on #109
Going to close this and perhaps a feature request ticket is requiring for the focus / tabbing mod.

[2013-11-19 10:45] #109 closed, assigned to danrossi

[2013-11-19 10:50] danrossi commented on #124
closing this for now

[2013-11-19 10:50] #124 closed, assigned to nobody

[2013-11-19 10:52] danrossi commented on #141
moving to ready for testing was ok on the dev i believe.

[2013-11-19 10:53] danrossi commented on #138
closing this for now

[2013-11-19 10:53] #138 closed, assigned to danrossi

[2013-11-19 10:53] danrossi commented on #134
please let me know the resolution for this.

[2013-11-19 10:54] danrossi commented on #142
closing this for now if possible, or modify the player functionality yourself. If you require something like this I can do this for you.

[2013-11-19 10:54] #142 closed, assigned to nobody

[2013-11-19 10:56] danrossi commented on #150
closing this for now if possible.

[2013-11-19 10:56] #150 closed, assigned to nobody

[2013-11-19 10:58] danrossi commented on #135
not sure if this is fixable will close for now, that is the config to disable / enable acceleration.

[2013-11-19 10:58] #135 closed, assigned to nobody

[2013-11-19 11:51] phloxic commented on #61
Yes, just try http://flowplayer.blacktrash.org/test/unload-bug.html in Safari.
I haven't found a way to fix this nicely in the api script.

[2013-11-19 15:22] danrossi commented on #61
ok thanks for that.

[2013-11-21 08:17] anssip commented on #146
Should work if you escape the linkUrl value. For example:

[code]

[2013-11-21 08:17] #146 closed, assigned to nobody

[2013-11-21 08:39] #132 closed, assigned to anssip

[2013-11-21 08:50] anssip commented on #131
This is the stack trace of the error. Can be seen in the test page at http://alexcrooks.me/others/streamtest/

[code]

I will work on this.

[2013-11-21 08:51] #130 closed, assigned to anssip

[2013-11-21 09:24] #37 closed, assigned to anssip

[2013-11-21 09:36] #10 closed, assigned to nobody

[2013-11-22 12:38] anssip commented on #78
Not happening any more with our current dev build: http://flash.dev94.flowplayer.us/plugins/streaming/audio.html

The fix is in the player, the demo in that page uses the old 3.2.10 audio plugin.

[2013-11-22 12:38] #78 closed, assigned to anssip

[2013-11-22 12:43] anssip commented on #71
Selected menu items cannot be now reselected: http://flash.dev94.flowplayer.us/demos/plugins/streaming/brmenu.html

[2013-11-22 12:46] anssip commented on #58
Seems to be fixed now. I am closing all issues that i can verify to have been fixed.

[2013-11-22 12:46] #58 closed, assigned to danrossi

[2013-11-22 16:29] anssip commented on #149
@blacktrash can be verified in the dev site.

[2013-11-22 17:30] phloxic commented on #81
With HDS still a problem in 3.2.17 dev:
http://flash.dev94.flowplayer.us/demos/plugins/streaming/bwcheck-hds-live.html
Works with 3.2.15 core:
http://flowplayer.blacktrash.org/test/bwcheck-hds-live-3215.html

[2013-11-22 17:37] phloxic commented on #81
With RTMP and 3.2.17 dev _pausing/stopping_ works as expected - screen not blank, but you cannot resume:
http://flowplayer.blacktrash.org/test/live.html
As already mentioned above: https://github.com/flowplayer/flash/issues/81#issuecomment-26196934

[2013-11-22 17:46] phloxic opened #156 "3.2.17 dev: hw accel shows branding"
http://flash.dev94.flowplayer.us/demos/configuration/accelerated.html
The screen branding bottom left should only appear during load.

[2013-11-22 18:06] phloxic commented on #149
Yes. Closing.

[2013-11-22 18:06] #149 closed, assigned to anssip

[2013-11-22 18:51] phloxic commented on #136
Still there in 3.2.17 dev:
http://flash.flowplayer.org/demos/plugins/streaming/bwcheck-hds-live.html

[2013-11-22 18:55] phloxic commented on #3
wontfix - closing.

[2013-11-22 18:55] #3 closed, assigned to danrossi

[2013-11-22 18:57] phloxic commented on #148
EDIT: `onMetaDataChange` works in 3.2.17 dev.
Does not include the first `onMetaData`.

[2013-11-22 23:50] phloxic commented on #148
Needs doc update/add-on new clip event `onMetaDataChange` with 3.2.17.

[2013-11-22 23:51] phloxic commented on #122
Alright, I see `onMetaDataChange` now working in 3.2.17 dev. Closing.

[2013-11-22 23:51] phloxic commented on #122
Ooops. Have to test this with bwcheck.

[2013-11-23 00:06] phloxic commented on #122
Sorry, I have to reopen this.
`onMetaDataChange` is triggered ok when a stream switch happens - simultaneously with `onStreamSwitch`, but the `metaData` reported references the default clip, not the currently played.
So, in this case either `onMetaDataChange` is not the right place to find out about the current clip, or it is the right place, but it reports the wrong thing.

[2013-11-23 00:26] phloxic commented on #58
confirming that it's fixed in 3.2.17 dev.

[2013-11-23 00:59] phloxic commented on #148
Grrrh. No. It does not work yet. Please run
http://flowplayer.blacktrash.org/test/audio-live.html - 3.2.15 with `onMetaData`
and
http://flowplayer.blacktrash.org/test/audio-live-3217.html - 3.2.17 dev with `onMetaData` and `onMetaDataChange`
in parallel.
3.2.17 does not update the meta data display.

[2013-11-23 03:57] danrossi commented on #148
Yes it does you need the updated javascript api this is the blocker it apparantly extends the clip properties to update them here from an event filter. its in the dev branch now.

[2013-11-23 03:58] danrossi commented on #122
I fixed it in the other ticket.

[2013-11-23 04:01] danrossi commented on #136
I believe you should be loading the dev link anssi sent thats the live site with the old versions.

[2013-11-23 04:03] danrossi commented on #156
the stage video mask indexing has crapped out again as it was confirmed to be working before.

[2013-11-23 04:05] danrossi commented on #81
confirming it's not resuming probably because an event is not firing on pause.

[2013-11-23 07:05] danrossi commented on #136
http://flash.dev94.flowplayer.us/demos/plugins/streaming/bwcheck-hds-live.html

[2013-11-23 07:17] danrossi commented on #81
wow no idea whats happened there, but after resuming its stopping because there is no duration. I'm fairly certain it was resuming .. This is on the core not rtmp plugin.

[2013-11-23 07:31] danrossi commented on #81
I didn't think so it doesn't resume the stream it's not vod. this would only work for dvr most likely. Thats why that feature to stop on pause is in there. @anssip leave it ?

[2013-11-23 07:42] anssip commented on #81
We cannot leave it like this. Of course it needs to be able to resume.

[2013-11-23 07:45] danrossi commented on #145
scrubbing is fine when paused the time updates correctly. the controls disables clicking the scrub bar  when paused. please confirm if this needs to be enabled.

[2013-11-23 08:10] danrossi commented on #81
The default is to stop and then when click to play it starts again, thats what you had put it anyway. "resume" does not work the stream just hangs, it may have to trigger "load" as "play" just makes the player go into finish state in my hacks.

[2013-11-23 08:11] danrossi commented on #81
It will be doing exactly the same thing so not sure if this is necessary. It cannot pause / resume with live rtmp. Perhaps close the stream but leave the video display open, it's a cosmetic request.

[2013-11-23 08:16] danrossi commented on #81
what we can possibly do is disable this duration tracker, then it will allow to call resume. And in resume on rtmp check if its live , stop the stream and reload it.

[2013-11-23 08:34] anssip commented on #81
This sounds like a reasonable approach. Maybe the duration tracker can also check if it's live and there's no duration ---> allow resume. Or duration tracker can be completely disabled with live streams.

And with RTMP live it internally does what's necessary just to make it continue.

[2013-11-23 08:35] anssip commented on #81
In my opinion it does not really matter if the screen goes blank when pressing the pause button. That is just cosmetics. The main thing is that pause and resume works!

This also makes sense. I think we used to do just that: close the stream when it's live. Not sure if with this approach it's possible to not have the screen going blank.

[2013-11-23 09:14] danrossi commented on #81
It does work by default Stopping and starting.

[2013-11-23 09:16] danrossi commented on #81
stopping makes the video display hide hence the ticket. so no can't be paused/resumed like a vod.

[2013-11-23 10:30] phloxic commented on #148
Where is what? `flowplayer-src.js` is exactly the current 3.2.12
There have been 2 changes regarding this issue, resulting in no change, the second being a revert:
https://github.com/flowplayer/flash/commit/035a64d3499340baf5db02f6b4a253e4dcc6d645
https://github.com/flowplayer/flash/commit/39430416dff9860551424772ad6b5877b9c1da00 (reverts previous)
So there has been no change in the api.

[2013-11-23 10:30] phloxic commented on #148
I'll try with the registered `onMetaDataChange` for testing.

[2013-11-23 10:40] phloxic commented on #122
In which ticket?
Is this about registering `onMetaDataChange` in the API?
I'm trying that now. Now it does nothing on stream switch.
http://flash.flowplayer.org/documentation/version-history.html#3216-february-2013 says:
"new clip event onMetadataChange [typo, I guess], dispatched for example when switching bitrate"
???

[2013-11-23 10:42] phloxic commented on #136
That wasn't present when I tested, so I took what I had. Looking good now.

[2013-11-23 10:58] phloxic commented on #81
Why does it work in 3.2.15?
Users are - still - surprised by new behaviour.
Again: it works in 3.2.15 core with 3.2.12 rtmp: http://flowplayer.blacktrash.org/test/live-3215.html
@anssip - that's why you had to special build a 3.2.15 Unlimited.
Now checking whether the obscure `stopLiveOnPause` makes any difference.

[2013-11-23 11:02] phloxic commented on #81
3.2.17 and `stopLiveOnPause`:
- not set, i.e. default (I don't know the default value): blank screen on pause
- `true`: same as before, I infer `true` must be the default
- `false`: shows current frame on pause, but player cannot resume

Users certainly just want the behaviour of 3.2.15 core, not additional option needed.

[2013-11-23 11:06] phloxic commented on #148
Registering the event in the JS API has no effect. Still the same at http://flowplayer.blacktrash.org/test/audio-live-3217.html

[2013-11-23 11:17] phloxic commented on #145
It's better with 3.2.17 dev, but not always:
![seeksync](https://f.cloud.github.com/assets/168338/1606332/d4cc55da-5431-11e3-9f27-55ba3716f0bb.jpg)

And: clicking the scrub bar when paused now _does_ work, although with sometimes strange results.

[2013-11-23 11:40] phloxic commented on #148
CORRECTION: Yes, works with the registered event. Was a bit hard to test because opening the same stream in 2 instances results asynchroneous playback (about 30 secs!).
So @danrossi - I guess you have to revert the revert?

[2013-11-23 13:29] anssip commented on #81
Well if this was working properly in 3.2.15 then it's certainly possible to fix the issue :-) Perhaps just diff with the 3.2.15 tagger version to see what has been changed. @danrossi let me know if you want me to take a look at this. We need to stop discussing this issue over and over and just fix it!

[2013-11-23 14:10] phloxic commented on #122
AHA - after some wild cache-refreshing it works: http://flowplayer.blacktrash.org/test/brmenu.html
Good.
Of course only if @danrossi's revert at https://github.com/flowplayer/flash/commit/39430416dff9860551424772ad6b5877b9c1da00 is reverted again.

[2013-11-24 13:01] anssip commented on #108
Cannot reproduce this now. The demo plays completely before the replay button shows. In both

http://flash.dev94.flowplayer.us/demos/standalone/plugins/streaming/rtmp.html
http://flash.flowplayer.org/demos/standalone/plugins/streaming/rtmp.html

@blacktrash, can you please re-check.

[2013-11-24 13:03] anssip commented on #106
Deeming this as not so important to be fixed for 3.2.17.

[2013-11-24 13:11] anssip commented on #104
Could not reproduce. With mp4 the seek took quite a bit of time but it eventually finished, buffering animation stopped and the time in controlbar was updated.

@blacktrash please retest this. Could be also related to how the mp4 was encoded.

[2013-11-24 14:09] anssip commented on #140
I did investigate this few weeks back because of some customer issue. Will take a look again now.

[2013-11-24 15:45] anssip commented on #35
Working on this now.

[2013-11-24 16:19] anssip commented on #140
@blacktrash the fixed version is now in the dev site.

[2013-11-24 16:20] anssip commented on #139
Fixed version in the dev site.

[2013-11-24 16:21] anssip commented on #110
A version of viralvideos where sharing is enabled in embedded players is now in the dev site.

[2013-11-24 16:22] anssip commented on #41
There's now external methods showButton() and hideButton() in the version currently in our dev site. These methods can be used to show and hide the CC button.

[2013-11-24 16:24] anssip commented on #98
There's now external methods showButton() and hideButton() in the version currently in our dev site. These methods can be used to show and hide the CC button.

hide(), show() are only supported for the captionTarget (content plugin).

[2013-11-25 04:30] danrossi commented on #145
The time update is stopped when paused which makes sense but should update when there is a seek. There is two places this needs to happen on the scrubber tooltip and on the time display. So force an update when there is a seek and paused should do it. There shouldn't be a reason these be running when paused still though.

[2013-11-25 04:45] danrossi commented on #145
There is already something in there to do this lol, however it needs to force an update after a seek complete not seek start.

[2013-11-25 04:47] danrossi commented on #145
there is no seek complete event to use.

[2013-11-25 04:53] danrossi commented on #145
I'll do it on a metadata update but keep the original code in there also just in case.

[2013-11-25 04:57] danrossi commented on #145
The scrubber needs to be clickable when paused still, something is stopping it it's active and enabled though.

[2013-11-25 06:53] phloxic commented on #108
Perhaps was not precise enough in instructions, sorry.
Move scrubber to end of timeline - It might have to do with the shortening of scrubber update when current time exceeds one hour (time display becomes wider).
![rtmp-replay](https://f.cloud.github.com/assets/168338/1611043/351b98f2-559e-11e3-9dd0-868876e2674a.jpg)

[2013-11-25 06:53] danrossi commented on #145
https://dl.dropboxusercontent.com/u/3394987/flowplayer.controls-3.2.15.zip. Too much variations to make the trackbar clickable when paused but the dragger does the same thing. This will update correctly. The issue is there is no seek complete player event and the time gets updated at the point of seek start not end.

[2013-11-25 07:00] phloxic commented on #104
Ok, but `$f().seek()` takes ages (perhaps the pseudo-protocol), also noted here: https://github.com/flowplayer/flash/issues/145#issuecomment-28377824
And when you scrub, you still have divergence between controlbar time and target position time, again also noted here: https://github.com/flowplayer/flash/issues/145#issuecomment-29130540 et. al.

[2013-11-25 07:03] phloxic commented on #140
Confirming that this is fixed in 3.2.17 dev. Closing.

[2013-11-25 07:03] #140 closed, assigned to anssip

[2013-11-25 07:08] phloxic commented on #139
That would be 3.2.17-dev of core?
No, I can still see the exact same problem: http://flowplayer.blacktrash.org/test/shoutcast.html (2nd player)- console says it tries to load audio plugin.

[2013-11-25 07:15] phloxic commented on #110
Maybe, but we now have a more serious problem:
http://flowplayer.blacktrash.org/test/embed-viral.html - embedded from dev site http://flash.dev94.flowplayer.us/plugins/flash/viralvideos.html
There is stray code in the embed code, like: `%22callType%22%3A%22default%22` ...

[2013-11-25 07:19] phloxic commented on #110
And the same _fix_ must be done for the sharing plugin.
Updating bug title.

[2013-11-25 07:22] phloxic opened #159 "3.2.17 dev: sharing plugin does not copy embed code"
Regression vs 3.2.16:
No notification, which is correct, because embed code is not copied to clipboard.
Test here:
http://flash.dev94.flowplayer.us/plugins/flash/sharing.html

[2013-11-25 07:29] phloxic commented on #110
Sorry - caching issue. Viralvideos embed code works ok - what is the `callType` thing though?
And seems fine for sharing - at least with 3.2.16 (sorry) - can't test with 3.2.17 because of #159 :-(
But closing this one.

[2013-11-25 07:29] #110 closed, assigned to anssip

[2013-11-25 07:31] danrossi commented on #122
Shall we close this. I took it out to follow the correct order of committing, I put it into a branch lol.

[2013-11-25 07:32] danrossi commented on #122
I'll redo it onto the dev branch again which is what's been requested and close that pull request.

[2013-11-25 07:35] danrossi commented on #122
it has been added.

[2013-11-25 07:36] phloxic commented on #41
Works.
But why new methods, and not the already advertised (for all plugins) `hide()` and `show()`?
Plugin special case because `css()` and `animate()` will never work?
I'm asking because it has to be documented.

[2013-11-25 07:36] danrossi commented on #114
Probably not a good idea it would trigger rebuffers. 2 seconds is a standard buffer length.

[2013-11-25 07:41] danrossi commented on #134
OK so no dynamic switching on pseudo streaming this is only for Rtmp and HDS and HLS. I'll have a look again at manual switching with pseudo streaming. It looks like the time returned has to be supressed at this moment.

[2013-11-25 07:47] phloxic commented on #98
Closing in favour of #41.

[2013-11-25 07:47] #98 closed, assigned to anssip

[2013-11-25 08:02] danrossi commented on #134
I don't see a problem when switching streams, the time and scrubber doesn't change. Closing for now.

[2013-11-25 08:02] #134 closed, assigned to danrossi

[2013-11-25 08:04] danrossi commented on #145
I'm getting to that one just discovered it trying to close that other ticket no worries. Its not supplying any update at all.

[2013-11-25 08:06] danrossi commented on #104
Shall I look at this ? The plugin isn't providing a seek update or metadata and therefore unlikely doing a server seek when paused therefore not updating the time. The time display timer is stopped in paused mode.

[2013-11-25 08:06] danrossi commented on #145
Not assigned to me.

[2013-11-25 08:18] bbbo commented on #114
but it's the only way (or buffer length 0.1 etc) to avoid the gap mentioned in http://flowplayer.org/forum/#!/setup_configuration#12404_how_to_avoid_ (correct link to the fourm entry mentioned above). unless you know a better way?

[2013-11-25 08:30] anssip commented on #41
I cannot make those generic functions work here easily, that's why special methods. I know this is not ideal.

[2013-11-25 08:30] #41 closed, assigned to anssip

[2013-11-25 08:49] danrossi commented on #127
ok I figured out something that might work without trying to change too much of how it chooses the indexes. the buffer empty rule can be ignored completely or i'll change this empty buffer rule scale factor to be configurable. Its doing a bitrate \* 0.4 to get the recommendation currently. If I change this to 0.8 as default that might help ?

[2013-11-25 08:59] danrossi commented on #127
I set it to be on the safe side to 0.6 which say at 1500 recommend 900. This can be changed to 0.8 as default.

https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck_httpstreaming-3.2.13-dev.zip

New setting

qos: {
   bufferScaleDownFactor: 0.6
}

[2013-11-25 09:19] danrossi commented on #81
I certainly don't see anything to fix so be my guest Ive just been wasting my time to fix what is not broken. Its simply pause on live stops the stream, the screen goes black. You press play again, it reconnects and begins playback again.

[2013-11-25 09:20] #96 closed, assigned to danrossi

[2013-11-25 09:20] #99 closed, assigned to danrossi

[2013-11-25 09:21] #122 closed, assigned to danrossi

[2013-11-25 09:21] #11 closed, assigned to danrossi

[2013-11-25 09:22] #68 closed, assigned to danrossi

[2013-11-25 09:22] #88 closed, assigned to danrossi

[2013-11-25 09:29] anssip commented on #145
I'll test with Dan's latest fix. Automatic updates by Gitbot are not live yet. I should have them working today.

[2013-11-25 09:30] danrossi commented on #104
Its related to #630 an old ticket. Seeking on these pseudo streams is slow to begin with because of high latency most likely on hddn ! no idea. Its not updating with the correct event because its stuck in a silent seek even after the dragger is dropped.

[2013-11-25 09:34] phloxic commented on #75
This should be checked again after #156 is fixed. Reopening.

[2013-11-25 09:40] phloxic commented on #75
Can be tested now by _developers_ themselves at http://flowplayer.blacktrash.org/test/accel.html - it now uses latest build from http://flash.cdn.dev94.flowplayer.us.s3.amazonaws.com/swf/flowplayer-3.2.17-dev.swf
Re-assigning to developers ;-)

[2013-11-25 09:44] anssip commented on #104
would be good if we can test this with something else than HDDN. Any ideas what we could use here as a server?

[2013-11-25 09:52] phloxic commented on #127
Is this for bwcheck only or for bwcheck-httpstreaming too?

[2013-11-25 09:54] phloxic commented on #127
And is this now in dev for 3.2.17 and do we have to document qos.bufferScaleDownFactor?

[2013-11-25 09:57] bbbo commented on #114
@anssip I think you verified the need when we checked the forum entry?

[2013-11-25 10:04] phloxic commented on #88
3.2.17 dev can be tested now at http://flowplayer.blacktrash.org/test/issue88.html - currently looks ok.

[2013-11-25 10:13] phloxic commented on #101
Cannot test because http://flash.dev94.flowplayer.us/plugins/streaming/cluster.html currently uses cluster-3.2.9 - and 3.2.11-dev (?) does not exist at http://flash.dev94.flowplayer.us/swf/
Reopening for testing - once cluster-3.2.11-dev is at http://flash.dev94.flowplayer.us/swf/flowplayer.cluster-3.2.11-dev.swf it can be tested at http://flowplayer.blacktrash.org/test/cluster.html (in conjunctio

[2013-11-25 10:32] phloxic commented on #148
Let's assume this will be in. Closing.

[2013-11-25 10:32] #148 closed, assigned to danrossi

[2013-11-25 10:34] danrossi commented on #104
Let me just get the event working first. It's not attempting a server seek for me. I'm not sure who else does this apart from akamai who have their own plugin.

[2013-11-25 11:25] danrossi commented on #104
ok #630 was to block requesting too much data when dragging and silent seeking and to only update when dropping the dragger. This is fine when playing but its stuck in silent seek when finish dragging.

[2013-11-25 12:37] danrossi commented on #104
HDS has issues also, I've found somewhere to force a seek and turn off silence seeking when mousing up, this is fine for both rtmp and pseudo when paused. In here it was just dispatching a seek player event but really the time has not updated yet from the stream and sticks to the old time. Not sure what to do about HDS its not delivering metadata events like the others, i'll see if it has a seek c

[2013-11-25 13:04] danrossi commented on #104
@anssip core build is broken because of a missing compiler constant secondaryDomains. I believe that was the domain checker for the plugin loader.  the loadercontext may be the answer to only load from the same domain perhaps.

see

BUILD FAILED
build.xml:12: flowplayer/tld/secondary doesn't exist

[2013-11-25 13:33] danrossi commented on #104
this is also causing plugin build issues

<arg line="-define+=CONFIG::secondaryDomains,${secondary-domains-quoted}"/>

[2013-11-25 13:38] danrossi commented on #104
OK I provided a fix that will help for both rtmp / pseudo. HDS needed some special treatment in the core because of this seek timer which i'm still unsure what is for. This has always been a problem a I believe stopping the timer because the returned time for HDS is a fraction less than the seek target so a flooring was required here to make it stop and
 dispatch a seek event.

I can't compile and

[2013-11-25 13:59] danrossi commented on #104
https://dl.dropboxusercontent.com/u/3394987/flowplayer.controls-3.2.15.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer-3.2.17-dev.zip

[2013-11-25 14:22] danrossi commented on #127
its for HDS only. Those metric properties for HDS are constants I just made that one configurable. Are you able to confirm if it helps alleviate the issue when you have a moment.

[2013-11-25 15:17] phloxic commented on #127
I don't have a HDS bitrate array sample. The bug was original filed for RTMP and "normal" bwcheck.

[2013-11-25 15:45] danrossi commented on #127
crap. OK well the default osmf code is set to use the lowest index if its less than the qos.minBufferLength setting which is 2. If it's less than 2 it might be unstable to make it go back one index so its there for a reason. I can make it go back one to test I guess.

[2013-11-25 16:03] phloxic commented on #101
ah ok, it's 3.2.10-dev - demo updated and working. Closing.

[2013-11-25 16:09] danrossi commented on #127
https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck-3.2.13-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.bwcheck_httpstreaming-3.2.13-dev.zip
https://dl.dropboxusercontent.com/u/3394987/flowplayer.rtmp-3.2.12.zip

I replicated some buffer optimisation in rtmp like hds also.

[2013-11-25 16:57] anssip commented on #127
The version is here: http://flash.160f.flowplayer.me

[2013-11-27 09:52] phloxic commented on #108
See: http://flowplayer.org/forum/#!/plugins#flashplayer-issues (3.)

[2013-11-27 09:52] phloxic commented on #145
See http://flowplayer.org/forum/#!/plugins#flashplayer-issues (2.)

[2013-11-27 11:07] danrossi commented on #114
What is wrong setting 0.1 that won't be treated as an empty config. Did you try it ?  0.1 is pretty insane also especially for live stream over latency. I don't understand anything that is in that message. I'd set it to 2 seconds at least.

[2013-11-27 11:24] bbbo commented on #114
as @anssip  said: with the standaed bufferLength, Flowplayer after some run time is up to a minute or more behind strobe playing the same stream. the user proved that by livestreaming images from a clock, oover time the gap between both showing different times widened. This did not happen for Anssi with bufferLength: 0.

[2013-11-27 11:39] danrossi commented on #114
I still don't understand what is going on sorry i can't see anything is there a video ? what do you mean behind strobe ?

[2013-11-27 11:57] bbbo commented on #114
the user deleted the video in the meantime.

situation: one rtmp stream showing a clock.
open stream in strobe player and Flowplayer simulatenously; both show for example: 12:00h Let them continue to run. Aftee 3 hours, strobe will show the clock at 15:00h and Flowplayer will show the clock at 14:58. Set buffer lenght to 0 in a tets build and both will show the same time. Ask Anssi, he did some ex

[2013-11-27 13:47] danrossi commented on #114
To me that's a bad example as it's increasing latency trying to stream two streams at once. The issue is latency here. I thought you meant a lag between what is being streamed and what is being subscribed. If that is the case too many factors there like distance between the encoder and server and then server to client. Strobe media is doing a buffer optimisation which I added something into the rt

[2013-11-27 13:48] danrossi commented on #114
might be an idea to implement that into the rtmp plugin perhaps.

[2013-11-27 13:50] danrossi commented on #114
im taking the buffer bit out of rtmp for now that was only for HDS it seems.

[2013-11-28 16:54] danrossi opened #161 "Domain check code on plugins do not work loading on a port"
Unable to load plugin: Unable to load plugin etc when loading on a port ie 8000.

[2013-12-02 10:19] viopopa opened #162 "Flash Plugin Compile Error #1079 & Error #1065"
Hello guys,

I just started developing flash plugins for flowplayer. (BTW, great video player and great flexibility). So my first chois was to test one of the plugins on flowplayer.org page, Hello world. (http://flash.flowplayer.org/documentation/developer/writing-flash-plugins.html)

I got HelloWorld.as and HelloWorld.fla, flowplayer.swc (2.16), playerglobal.swc (Flash Player 11)/

I'm using Flas

[2013-12-03 12:04] anssip opened #163 "Memory leak on repeated play() calls via API"
Flash's memory usage seems to continuously grow when calling play("video.mp4") via the API. Here is a test page that can be used to investigate this: https://github.com/flowplayer/flash/blob/dev/core/test/memoryleak.html

[2013-12-03 12:48] anssip commented on #139
I don't think the 2nd player loads the audio plugin. This returns undefined

$f("aac").getPlugin("audio")

Also if you look at the console's network tab you see that the audio plugin is loaded only once. (The controls plugin is loaded twice, for example, by both players)

[2013-12-03 12:48] #139 closed, assigned to anssip

[2013-12-03 13:25] anssip commented on #159
Fixed now.

[2013-12-03 13:25] #159 closed, assigned to anssip

[2013-12-03 13:36] phloxic opened #164 "bwcheck + pseudostreaming: only checkOnStart supported"
If you do not specify `checkOnStart: true` bwcheck just hangs with pseudostreaming:
http://flowplayer.blacktrash.org/test/bwcheck-pseudo.html (uses 3.2.17-dev - but also present before).

[I think I reported this before, but cannot find the issue]

[2013-12-03 13:41] #145 closed, assigned to anssip

[2013-12-03 13:47] phloxic commented on #139
Yep, sorry.
Unfortunately it's not a solution for the actual problem because the stream is not found. Will double check whether aac files can be played on demand via http.

[2013-12-03 13:49] phloxic commented on #164
HDDN is driving me around the bend. Update:
- video plays but
- no stream switch on fullscreen toggle, no onBwDone fired like with `checkOnStart: true`

[2013-12-03 13:50] anssip commented on #104
@blacktrash can you please test this again. Latest versions are in dev.

[2013-12-03 14:02] phloxic commented on #139
I have not found a way to play "raw" aac files - i.e. adts - streams.
AAC needs to be in an MP4 container - then it works both via http and rtmp: http://flowplayer.blacktrash.org/test/aac.html
On the other hand aac works fine in video live streams - but of course those are delivered via rtmp, not like shoutcast over http.

(and yes, I tested again - http://78.24.188.207:7600/;stream.mp3 plays fine

[2013-12-03 14:05] phloxic commented on #108
Why is this closed, I can still reproduce it?
And it does not seem protocol specific. I just could replicate it with pseudostreaming as well.

[2013-12-03 14:14] phloxic commented on #108
With pseudo streaming:
![pseudo_end](https://f.cloud.github.com/assets/168338/1664312/367a5174-5c25-11e3-84a6-2dea60c41352.jpg)

[2013-12-03 14:25] phloxic commented on #159
Confirming :+1:

[2013-12-03 14:44] danrossi commented on #163
I'm not seeing a problem if the api call is made in the correct place, the code above is basically a dos attack and creating a bottleneck from the looks of it.

onStart: function() {
            console.log("onStart");
            this.play("http://www.blacktrash.org/php/streamer.php/ccc_trailer1.flv");
        },

or with http://pseudo01.hddn.com/vod/demo.flowplayervod/bbb-400.mp4

Need the actua

[2013-12-03 14:44] danrossi commented on #163
The garbage collector is being run very often and keeping memory in check.

[2013-12-03 14:56] phloxic commented on #104
This is looking quite good at http://flash.dev94.flowplayer.us/demos/plugins/streaming/mp4-pseudostreaming.html
Maybe HDDN is just in a good mood ;-)
So: not as snappy as RTMP (obviously), but way more responsive than when I last checked.
:+1:

[2013-12-03 15:01] phloxic commented on #108
It also happens in a basic pseudostreaming setup like at http://flash.dev94.flowplayer.us/demos/plugins/streaming/mp4-pseudostreaming.html

[2013-12-04 11:21] anssip commented on #81
This is now fixed. @blacktrash, please verify with the version in dev.

[2013-12-04 12:23] anssip opened #165 "Create a debug enabled player, remove logging from the normal version"
Log statement can be conditionally compiled using CONFIG::debug

This will reduce the player SWF file size.

[2013-12-04 12:25] anssip commented on #60
Does not happen with the current dev version. Just verified.

[2013-12-04 12:25] #60 closed, assigned to anssip

[2013-12-04 12:30] #81 closed, assigned to anssip

[2013-12-04 12:32] anssip commented on #104
Awesome. Closing this now!

[2013-12-04 12:32] #104 closed, assigned to danrossi

[2013-12-04 12:58] phloxic commented on #81
Confirmed :+1:

[2013-12-04 13:11] danrossi commented on #156
The changes from way back in february are missing, it looks like the merge never happened or got lost. Its in the commit logs.

[2013-12-04 13:12] danrossi commented on #156
closing this, and revert back to #75.

[2013-12-04 13:12] #156 closed, assigned to anssip

[2013-12-04 13:13] danrossi commented on #75
keep it here. It has to be peiced back together from the commit logs the changes never got merged it seems.

[2013-12-04 14:29] phloxic commented on #60
Confirmed :+1: - can also be tested here: http://flowplayer.blacktrash.org/test/viral-dock.html

[2013-12-04 14:32] phloxic commented on #75
although not that _this_ issue is originally about `canvas: {backgroundGradient: "none"}` causing trouble, which currently is not the case.

[2013-12-04 15:57] danrossi commented on #75
yes, this pull request system did not actually work part the time it needs to be manually put back into place.

[2013-12-04 16:11] danrossi commented on #75
https://github.com/flowplayer/flash/commit/295d5f11ac092b246bef19e0246e094f41c9074f beyond my knowledge how to fix this i have no idea where it went.

[2013-12-04 16:52] danrossi commented on #75
https://github.com/flowplayer/flash/pull/166 I was able to partially get it back in but its totally hard to track whats what, its in the master branch. The only thing I can find a problem with what I just merged is seeking twice inside a buffered area of http, then going fullscreen the stage mask hasn't reset ... will have to relook at that now

[2013-12-05 11:57] anssip commented on #114
The current dev version accepts clip.bufferLength: 0

[2013-12-05 11:57] #114 closed, assigned to anssip

[2013-12-05 12:12] #131 closed, assigned to anssip

[2013-12-05 12:34] anssip commented on #105
I think issue 1. scrubbing to 0 actually _should_ start the feature, _not_ the preroll.

Cannot reproduce 2. with the current dev version. Also with dev the mid roll is not omitted on replay.

Will check with audio clips next.

[2013-12-05 13:07] phloxic commented on #105
Confirming that 2. is not happening with dev.
I disagree re: scrubbing to 0. If I scrub to a different position the corresponding clips are played as well.
Be that as it may, scrubbing to 0 in the main clip leaves the playhead fixed at 0 while playback is going on - if you click to pause the pre-roll starts.
That can't be intentional behaviour.

[2013-12-05 15:45] anssip commented on #105
That issue (scrubbing to zero --> playhead not moving) was not actually related to in stream clips, happened with all kins of clips. That's now fixed.

[2013-12-05 16:38] phloxic commented on #136
Almost. Right after page load, hovering over the controlbar I can make it alternate hecticly between duration display and non-display. Please have another look, I'll try to make a screencast.

[2013-12-05 17:04] phloxic commented on #136
Here's a screencast: http://media.blacktrash.org/fp/test/hds-controls.m4v
After the first switch it becomes stable.

[2013-12-06 07:20] danrossi commented on #164
i'll prioritise these next.

[2013-12-06 07:23] danrossi commented on #136
To be more specific, I have to set an empty duration on the callback of metadata so perhaps there is a delay when doing so. The internals is adding a duration I'd have to override it's source which is possible. I haven't seen an issue with normal usage and playback.

[2013-12-07 12:20] phloxic opened #167 "API Safari 6 Flash detection"
Leads currently to unreliable results. Even when Flash is turned off `flashembed.getVersion()` or flashembed.isSupported()` report as if the plugin was enabled.
Additional conditional(s) something like:

[code]

[2013-12-07 14:24] danrossi commented on #163
There was a bit of surgery required so needs testing but it looks ok to me.

[2013-12-07 15:47] danrossi commented on #164
i'm experiencing the same thing. i have made a change to the config, if checkonstart is not set, and its not set to dynamic enable bandwidth checking. your config did not have it available therefore no onBwDone. You can see the file is sitting there pending, and its likely it needs ?start=0 for some reason.

[2013-12-07 15:50] danrossi commented on #164
no idea but it needs ?start=0 on the initial request. and the 800k video has a slow start time because of possibly latency and metadata.

[2013-12-07 16:20] danrossi commented on #164
it's re-requesting the bandwidth when changing to fullscreen however perhaps a different method could be used for pseudo to capture it from the current file playing when changing to fullscreen no idea.

[2013-12-07 17:21] danrossi commented on #136
its fine now its because of a delay doing it in the callback and because metadata is dispatched on each dynamic switch.

[2013-12-07 17:23] danrossi commented on #75
i apparantly fixed this memory leak now so will look at this stage video changes again.

[2013-12-08 07:52] danrossi commented on #164
I just checked back its now not hanging very strange. I reckon its latency/caching issues with hddn. I can initiate the pull request again if requesting the start param won't cause issues.

[2013-12-08 07:55] danrossi commented on #164
ok I can confirm it was probably random playback was really slow for me too. i'll just commit the bwcheck change if people want to changebust they could do it on the config perhaps.

[2013-12-08 08:05] danrossi commented on #164
wasn't neccesary, reverted the change.

[2013-12-08 08:17] danrossi commented on #75
hmm not doing what I was experiencing anymore. 75 definitely fixed this. It was not branched from master to dev correctly.

[2013-12-08 08:19] danrossi commented on #75
Just got it, it's reliant on seek complete callback events so stop the stage video moving around while seeking. no callback the event is not enabled again lol. hmm.

[2013-12-08 08:24] danrossi commented on #75
ok it's possibly something to do with this seek end timer. the seek event gets dispatched after a delay on http. may have to use a different event.

[2013-12-08 09:06] danrossi commented on #75
https://github.com/flowplayer/flash/pull/166 this should fix it. Its a temporary fix though because of this seek event delay timer which I think should be taken out completely, im not sure of it's purpose.

[2013-12-08 09:06] danrossi commented on #75
it should be visible once the build is done.

[2013-12-08 16:23] phloxic commented on #167
@bbbo, @anssip - fix can be tested here: http://flowplayer.blacktrash.org/test/flashtest.html - turn Flash on and off in Safari and other browsers; for comparison turn off Flash in Safari 6 (at least on Mac) in any example.

[2013-12-09 13:51] anssip commented on #127
merged to dev version, now here http://flash.dev94.flowplayer.us

Closing this.

[2013-12-09 13:51] #127 closed, assigned to danrossi

[2013-12-09 13:55] anssip commented on #75
Latest fix merged and this is newly built http://flash.cdn.dev94.flowplayer.us.s3.amazonaws.com/swf/flowplayer-3.2.17-dev.swf

Cannot see the issue any more in http://flowplayer.blacktrash.org/test/accel.html  Closing this.

[2013-12-09 13:55] #75 closed, assigned to danrossi

[2013-12-09 14:13] phloxic commented on #75
Confirming fix, most of all at http://flash.dev94.flowplayer.us/demos/configuration/accelerated.html

[2013-12-09 14:16] phloxic commented on #127
Is `qos.bufferScaleDownFactor` an option now? If yes, is it present in both bwcheck and bwcheck-httpstreaming?

[2013-12-09 14:20] anssip commented on #136
@blacktrash can you again verify this. Latest is in dev94

[2013-12-09 14:22] anssip commented on #167
@blacktrash please verify, latest in dev94

[2013-12-09 14:22] #35 closed, assigned to anssip

[2013-12-09 14:23] #105 closed, assigned to anssip

[2013-12-09 14:27] phloxic commented on #167
Are you sure? dev94 still uses http://flash.cdn.dev94.flowplayer.us.s3.amazonaws.com/js/flowplayer-3.2.12.min.js

[2013-12-09 14:27] anssip commented on #153
@blacktrash these changes are in dev94 now. Can you update that demo to verify this.

[2013-12-09 14:28] anssip commented on #167
Checking this.

[2013-12-09 14:28] phloxic commented on #136
Behaving nicely - closing.

[2013-12-09 14:28] #136 closed, assigned to danrossi

[2013-12-09 14:34] phloxic commented on #153
@anssip - if it's like the api: the js haven't been updated at e.g. http://flash.dev94.flowplayer.us/plugins/javascript/controlbar.html - still at 3.2.10.

[2013-12-09 14:35] anssip commented on #153
i'll update the version numbers of _all_ plugins. Like we agreed let's release everything with new version numbers.

[2013-12-09 14:48] phloxic commented on #105
Why should scrubbing to 0 start the feature? The position of the pre-roll _is_ 0.

[2013-12-09 16:32] phloxic commented on #153
Ok - http://flash.cdn.dev94.flowplayer.us.s3.amazonaws.com/js/flowplayer.controls-3.2.10.min.js already has the fixes and I confirm that they work. Closing.

[2013-12-09 16:32] #153 closed, assigned to phloxic

[2013-12-09 16:33] phloxic commented on #152
Works in dev94. Closing.

[2013-12-09 16:33] #152 closed, assigned to phloxic

[2013-12-09 19:21] kasrinat opened #174 "Seek event is activated on mouseDown instead of mouseUp while dragging"
Hello,

I have a provider that extends the StreamProvider class and implements it's seek method amongst other things. While investigating an odd seeking behavior with my embedded flow player, I found that the provider's seek method was being triggered on mouseDown instead of mouseUp. This especially causes issues when dragging, with the issues being mainly of the UI kind with the spinning buffer w

[2013-12-09 20:08] anssip commented on #167
Now dev94 uses 3.2.13-dev.min.js. Also all flash and js plugins have now their version numbers pumped up.

[2013-12-09 23:01] phloxic commented on #167
Confirming that this fixes the problem in the browsers available to me, including Safari 6.
@bbbo - can you try e.g. http://flash.dev94.flowplayer.us/demos/standalone/installation/index.html with (also older) IE, turning Flash on/off. When off the expressInstall should be shown, otherwise the player (obviously, hopefully).

[2013-12-10 08:57] bbbo commented on #167
this seems to work fine in IE7 / 8 / 9 .

[2013-12-10 09:12] #167 closed, assigned to phloxic

[2013-12-10 09:38] anssip commented on #163
These fixes are now merged and in dev94. Thre's still a problem in this demo: http://flash.dev94.flowplayer.us/demos/configuration/instream-playlist.html

it does not continue playing after the midroll finishes.

[2013-12-10 09:45] anssip commented on #163
Buffering animation is stuck after pause here: http://flash.dev94.flowplayer.us/demos/configuration/playlist-splash.html

[2013-12-10 10:24] anssip commented on #163
Exception is thrown here http://flash.dev94.flowplayer.us/demos/plugins/javascript/playlist/youtube.html

[code]

[2013-12-10 13:02] danrossi commented on #163
Yes I know where it is, perhaps its not the best place for this here, but i believe the stream needs to be detached from the current video before replacement also to help clear display and network buffers. i'll try something that will work.

[2013-12-10 13:10] anssip commented on #163
Please check the other issues also, i found 3 problems, all listed above :smile:

[2013-12-10 13:37] danrossi commented on #163
it's hard to determine it now it wasn't ready for merging. the other problems are probably events.

https://github.com/flowplayer/flash/pull/175

[2013-12-10 14:01] danrossi commented on #163
I just recompiled a few times and was able to get instream working. It's being added correctly for me.

[2013-12-10 14:04] anssip commented on #163
Merged now. It will build to dev94 and i'll test once it's done.

[2013-12-10 14:05] danrossi commented on #163
cannot replicate either of those. the playlist plugin issue has been fixed up.

[2013-12-10 14:24] anssip commented on #163
No exception here any more: http://flash.dev94.flowplayer.us/demos/plugins/javascript/playlist/youtube.html

With Mac Safari the buffer animation is still stuck here: http://flash.dev94.flowplayer.us/demos/configuration/playlist-splash.html  One way to solve this is to have a "start detect timer" in the PlayButtonOverlayView that monitors if the playback time starts moving and hides the buffer ani

[2013-12-10 14:59] danrossi commented on #163
Yes got it it's being garbage collected I will turn the listener on and off manually. something is unruly with safari now it seems.

[2013-12-10 15:22] danrossi commented on #163
it seems to be fine now.

[2013-12-10 15:28] danrossi commented on #163
I believe this is a buffer empty event after unpausing it will clear after its done. There is some shotty power management thing in mavericks safari which is doing this. Its not buffering progressive download. I can't really figure what it's doing because I can't even see the logs in safari either it's showing up empty / clear / white so a bug with safari. This might take some time and I doubt its

[2013-12-10 16:19] danrossi commented on #163
it's happening in chrome also and its because of another timer event set as weak reference will have to reconfigure its listener setup. will test in chrome and it should work in safari.

[2013-12-10 16:34] danrossi commented on #163
ok its random. within that file there is some playback timer tracker to stop the buffer animation after 200ms of playback. What was this for exactly ?

[2013-12-10 16:50] danrossi commented on #163
ok something is up for some reason clearing the timer reference when its stopped and completed helps and leave weak references on the listener is ok.

Playback and buffering progressive download in general is bad in safari which seems to reflect the changes in IOS7 also it's wierd. It looks like some network bug to me in safari no idea.

[2013-12-10 17:15] danrossi commented on #163
looks better now, but this weak reference stuff might need to be moved to external listeners instead. instream looks better now.

[2013-12-11 08:45] #163 closed, assigned to danrossi

[2013-12-11 08:46] #164 closed, assigned to danrossi

[2013-12-11 12:58] kasrinat commented on #174
Any thoughts on the above? Thanks.
The seeking behavior seems to be suited more to progressive download than http streams, where downloading fragments takes additional time. Right now, on dragging the slider, the buffer wheel disappears much quicker than the resuming of playback.

The buffering wheel seems to be active for the duration the 'onBeforeSeek' event is registered. On mouseUp, 'onBeforeS

[2013-12-11 13:24] danrossi commented on #174
there was a bug with a seek end timer with HDS due to how it deals with times when seeking. This has been fixed in the player and in the dev branch now. its best to also get the new hds plugin files also.

[2013-12-11 14:15] anssip commented on #174
We will release a new Flowplayer Flash version this week or early next week. All Flash plugins will be part of the release as well. @kasrinat, hopefully you can wait for this release.

You can also test with these:
- http://flash.cdn.dev94.flowplayer.us.s3.amazonaws.com/swf/flowplayer-3.2.17-dev.swf
- http://flash.cdn.dev94.flowplayer.us.s3.amazonaws.com/swf/flowplayer.controls-3.2.15-dev.swf

[2013-12-11 14:39] kasrinat commented on #174
Thanks a lot for your responses @anssip and @danrossi. I cloned the dev branch and built the swfs from it. Still seeing the same behavior as before. Probably something I am missing. Going to download the dev swfs linked above and try out.
The new flash version would be great, I can test with that within the coming week as well and give feedback.

[2013-12-11 15:07] kasrinat commented on #174
Just wanted to note this. I used the linked dev swfs and still seem to see the described behavior. Below is the use case:
- Open an HDS stream in flow player with the 3.2.17 dev swfs or earlier.
- Click down on the playhead with the intention of dragging along the slider  (the buffer wheel spin starts).
- Mouse up on the playhead at the desired seek target (the buffer wheel spin disappears).
- The

[2013-12-12 09:53] phloxic commented on #101
Reopening: both http://flash.flowplayer.us/plugins/streaming/cluster.html and http://flash.dev94.flowplayer.us/plugins/streaming/cluster.html do not work in Chrome - endless loop.
Standalone demos might be easier to diagnose:
http://flash.dev94.flowplayer.us/demos/standalone/plugins/streaming/cluster-http.html
http://flash.flowplayer.us/demos/standalone/plugins/streaming/cluster-http.html

Other b

[2013-12-12 09:55] phloxic commented on #101
Update: This only happens with Chrome's PepperFlash plugin - unfortunately it is enabled by default.

[2013-12-12 10:00] phloxic commented on #101
I will open a separate issue for this - http://flash.dev94.flowplayer.us/demos/standalone/plugins/streaming/clustering.html - also gets stuck in an endless loop with PepperFlash.

[2013-12-12 10:08] phloxic opened #177 "cluster + Chrome PepperFlash: endless loop"
Detected while testing #101

Both http://flash.flowplayer.org/plugins/streaming/cluster.html (current release) and http://flash.dev94.flowplayer.us/plugins/streaming/cluster.html (devel) do not work in Chrome - endless loop.
Can be "solved" by disabling the PepperFlash plugin - but it is enabled by default, so not a real solution.
Standalone demos might be easier to diagnose:
http://flash.dev94.fl

[2013-12-12 10:13] phloxic commented on #101
Closing in favour of #177

[2013-12-12 10:13] #101 closed, assigned to danrossi

[2013-12-12 10:17] phloxic commented on #177
Addendum: while hddn currently _is_ slow, it is not at fault for this bug - I came across it while migrating demos to cloudfront, and it persists. It is caused by PepperFlash only.

[2013-12-12 11:18] bbbo commented on #177
hmm, http://flash.dev94.flowplayer.us/plugins/streaming/cluster.html works for me with Pepper Flash only... and with both pepper and Adobe Flash enabled

[2013-12-12 11:22] anssip commented on #177
will try to fix this for 3.2.17

[2013-12-12 11:43] phloxic commented on #177
Here definitely PepperFlash is the culprit.

[2013-12-13 07:42] danrossi commented on #177
Hmm the demo uses http not rtmp. There was a specific issue with caching where it would hang and sit in pending on playback. I'm pretty sure that was fixed up. Fine with me on pepper flash.

[2013-12-13 08:03] phloxic commented on #177
This is what I get:
![cluster-http](https://f.cloud.github.com/assets/168338/1740589/007ce92e-63cd-11e3-8c8c-fc53b4f12d2f.jpg)

[2013-12-13 15:31] phloxic opened #178 "mute/unmute on load confuses analytics"
Since quite some time the player mutes and unmutes on load (I think mainly in a "first frame setup", i.e. with `autoPlay: false, autoBuffering: true` as clip config) - one can observe this quite often in the controlbar. While this _looks_ unintentional, it also fires the corresponding events which in turn are registered by analytics:
http://flowplayer.blacktrash.org/test/analytics.html

While inde

[2013-12-16 12:08] danrossi commented on #178
There is a change in there when autobuffering in progressive download to mute first before pausing to disable the audio so it doesn't output audio on the first frame. It might need a "silence" mode or directly changing the volume on the stream instead of in the volume controller should do it ?

[2013-12-16 12:10] danrossi commented on #97
closing this for now as the dev branch has all been merged.

[2013-12-16 12:10] #97 closed, assigned to nobody

[2013-12-16 12:58] danrossi commented on #174
I don't understand what you mean sorry please check here

http://flash.dev94.flowplayer.us/plugins/streaming/httpstreaming.html

Provide a demo page perhaps.

[2013-12-16 13:04] danrossi commented on #162
http://flash.flowplayer.org/documentation/developer/development-environment.html you need to follow this I'm afraid and run the build via ant.

[2013-12-16 13:05] danrossi commented on #147
What is the resolution for this ?

[2013-12-16 13:27] danrossi commented on #100
Hi I believe as of now fastplay only works with vp6 codec not h264 its not working for me on hds either. Contact wowza perhaps and that might change. the api should be the same for either rtmp or hds. Closing for now.

[2013-12-16 13:27] #100 closed, assigned to danrossi

[2013-12-16 13:31] kasrinat commented on #174
Thanks a lot for that link. I can see the player there seeking just like I would expect using your httpstreaming plugin. We have a custom provider that extends StreamProvider instead of NetStreamControllingStreamProvider, with a different set of underlying libraries. This provider has to support HTTP streaming along with other streaming protocols.

We are overriding the seek() method and using the

[2013-12-16 13:58] danrossi commented on #174
I still don't understand what you are doing. If there is no problem either supply a page  or I'll close this for now thanks. The seek dispatch is being sent from the scrubber in the controls plugin. And there is a seek timer to dispatch a seek complete status in NetStreamControllingStreamProvider have a look. I'm not sure why its there still and may have to be removed but I just fixed this for HDS

[2013-12-17 06:36] kasrinat commented on #174
You can go ahead and close this issue. I think I have enough info to proceed based on your inputs.

[2013-12-17 20:28] phloxic opened #181 "3.2.17: unexpected security errors with direct embedding"
No clear pattern of failure:
Both
http://flash.flowplayer.org/demos/commercial/embed.html :-1:
http://flowplayer.blacktrash.org/embed-commercial.html :-1:

http://flowplayer.blacktrash.org/viralvideos-extconfig.html :+1:  with rather more involved embed code from here: http://flash.flowplayer.org/demos/plugins/flash/viralvideos-extconfig.html

[2013-12-17 20:33] phloxic commented on #181
In all likelyhood caused by the XSS tightening: https://github.com/flowplayer/flash/issues/121
But what exactly is causing what failure?

[2013-12-17 21:30] phloxic commented on #181
Note that the error is not fatal. The player works as expected - except for the display of the error message.

[2013-12-18 02:50] danrossi commented on #181
Security sandbox due to the new Focus feature added to the launcher. It's strange its happening when trying to add a javascript callback. Perhaps the function is missing. the crossdomain files are added to both sub domains.

[2013-12-18 02:50] danrossi commented on #181
I believe it's the code to add focus for tabbing remember that guy talking about it ? I didn't do this sorry.

[2013-12-18 08:06] anssip commented on #181
Adding allowScriptAccess to the embed code fixes it:

[code]

[2013-12-18 10:26] phloxic commented on #181
But I cannot govern the embed parameters - e.g. Facebook does not allow "always".
It's clearly a bug imho, as it happens "temporarily" upon initialization.
The workaround hack would be to add `showErrors: false` to configurations which are known to work - but that's not a solution.

[2013-12-18 10:33] phloxic commented on #181
To be precise: we can offer _our_ embed code with allowscriptaccess - but we can't control the embed parameters e.g. when sharing.

[2013-12-18 10:45] phloxic commented on #181
I thought the accessibility code only came into action if `seamlessTabbing: "true"` in the Flash config and a few other requirements are met? http://flash.flowplayer.org/documentation/configuration/player.html#standard-flash-parameters
On the other hand I never could spot a difference in behaviour with or without those parameters and assumed they came into play with screen readers. I never receive

[2013-12-18 10:46] danrossi commented on #181
The Focus class added in deals with forcing focus to the flash object I believe ?. It's doing a javascript bridge call / setup therefore requires allowscriptaccess enabled. I assume it needs a try / catch around the setup of that perhaps to trap the error.

[2013-12-18 11:14] anssip commented on #181
Yes, a try/catch is needed there. I'll probably release a bug fix for this later this week.

[2013-12-18 12:06] phloxic commented on #177
@bbbo - does this work for you now? It does for me.
Although the 2 plugins in Chrome read the array in reverse order - why? - You never know with Chrome.

[2013-12-18 12:12] phloxic commented on #177
hm, sometimes it works, sometimes it does not ...

[2013-12-18 12:24] bbbo commented on #177
always worked for me in Chrome with Pepper Flash.

[2013-12-18 13:58] anssip commented on #181
Fixed here: the security error is fixed here: http://flash.182f.flowplayer.me  @blacktrash can you please verify.

[2013-12-18 14:11] phloxic commented on #181
:+1: http://flash.182f.flowplayer.me/demos/commercial/embed.html

[2013-12-19 12:04] phloxic commented on #127
@danrossi - ping, please answer: "Is qos.bufferScaleDownFactor an option now? If yes, is it present in both bwcheck and bwcheck-httpstreaming?"

[2013-12-20 11:02] phloxic opened #184 "unminified API script not published at release time"
Not available at http://flash.flowplayer.org/documentation/api/index.html#download1
- build the unminified API, concat flashembed.js and flowplayer-src.js
- publish it at http://releases.flowplayer.org/js/flowplayer-<version>.js

[2013-12-27 10:56] phloxic opened #185 "3.2.18: Analytics broken"
See:
http://flash.flowplayer.org/plugins/flash/analytics.html
or standalone:
http://flash.flowplayer.org/demos/standalone/plugins/flash/analytics.html
- no data reported
- playhead hangs

I can see the tracking gifs downloaded in the network console - but no results on-screen. So it looks like at least the debug mode is broken.

[2013-12-27 11:01] phloxic commented on #185
Could this be caused (in part) by Google API changes: https://developers.google.com/analytics/devguides/collection/upgrade/ ?

[2013-12-27 11:23] danrossi commented on #185
I'm seeing two requests one at the start and when it's ended. One parameter is null, so could be that ?

http://www.google-analytics.com/__utm.gif?utmwv=4.3as&utmn=null&utmhn=releases.flowplayer.org&utmt=event&utme=5(Promo%20Video*Stop*http://stream.flowplayer.org/flowplayer-700.flv)(25)&utmcs=UTF-8&utmsr=1680x1050&utmsc=24-bit&utmul=en-us&utmje=0&utmfl=11.11%20r132&utmdt=Analytics%20New%20Demo%20

[2013-12-27 11:41] phloxic commented on #181
Fixed in 3.2.18 - closing.

[2013-12-27 11:41] #181 closed, assigned to anssip

[2013-12-27 11:46] phloxic opened #186 "Fix sloppy JS license headers"
See: https://github.com/flowplayer/flash-build/issues/7 et. al.

[2013-12-27 12:08] phloxic commented on #184
Closing in favour of: https://github.com/flowplayer/flash-build/issues/6

[2013-12-27 12:08] #184 closed, assigned to anssip

[2014-01-01 18:36] iignatov opened #188 "Events not working when loading a RTMP stream"
It seems that the FlowPlayer events are not working when playing RTMP streams. I saved the [Basic RTMP Demo](http://flash.flowplayer.org/demos/standalone/plugins/streaming/rtmp.html) page locally and added event handlers for the `onBeforePause` clip event and the `onLoad` player event (without any further modifications to the source). None of the events was fired.

Afterwards I added also the foll

[2014-01-02 20:59] ghost opened #189 "url encoding"
commit bcd58baf00aaa0c4307923d073c18311d3757c02 of November 20, 2012 introduced a bug.

My clip URL looks like this:

http://pubads.g.doubleclick.net/gampad/ads?sz=576x324;iu=/NETWORKID/ADUNIT;ciu_szs=300x250;impl=s;gdfp_req=1;env=vp;output=xml_vast2;unviewed_position_start=1;url=URLOFVIDEOPAGE;correlator=1388428539;custom_params=city%3DChicago%26county%3DCook%26

(note that the custom_params vari

[2014-01-06 03:26] porcorosso opened #190 "Build failed，the variable "basedir" is missing"
The ant logs are following:
BUILD FAILED
C:\workspace\flash-release-3-2-16\core\build.xml:561: The following error occurr
ed while executing this line:
C:\workspace\flash-release-3-2-16\core\build.xml:354: The following error occurr
ed while executing this line:
C:\workspace\flash-release-3-2-16\js-plugins\controls\build.xml:10: The followin
g error occurred while executing this line:
C:\workspace

[2014-01-06 07:35] #190 closed, assigned to nobody

[2014-01-06 07:36] porcorosso commented on #190
Sorry, I forgot to install ant contrib

[2014-01-11 00:39] ghost opened #191 "RTMP Buffering Issue"
I have an issue with the buffering progress bar (slider) of the video. Buffering keeps appearing and disappearing intermittently, and then just disappears after a while (around the middle of the video). My environment is flowplayer version 3.2.15 and wowza streaming RTMP VOD files with ABR.
Please check minimal player configurations here: http://flowplayer.blacktrash.org/test/bwcheck-smil.html

An

[2014-01-12 13:19] phloxic commented on #121
@anssip - the external config file restriction is not working: http://flowplayer.blacktrash.org/test/embed-external.html - core loaded from (releases.)flowplayer.org, config loaded from (media.)blacktrash.org.

Maybe it does not check against the location of the core, but of the viewing domain.
Re-opening.

[2014-01-13 08:00] phloxic commented on #185
@anssip - ping, we also have the bridge mode demo http://flash.flowplayer.org/demos/standalone/plugins/flash/analytics-bridge.html - but users do not see anything, unless they open the console.
Is the debug display gone intentionally? Then this must be documented. Or is it a bug?

[2014-01-13 16:16] forrest79 opened #192 "Firefox 24+ onLoad bug"
Hello,

we investigate very strange behavior. We have custom build of Flowplayer (commercial) with small changes in code (but only in some plugins, nothing in core) and with some initial and control code in JS (as HTML5 fallback we use Flowplayer 5, we have unified API for engine detecting, splash, player loading and control). Everything works well in Chrome, Opera, IE and Firefox <=23. But in Fir

[2014-01-14 08:35] ghost opened #193 "Instream Clips Inside Clip"
http://flash.flowplayer.org/demos/configuration/instream-playlist.html
In this example when an inStream clip starts, the continue buffering (while inStream clip is being played) and this affect the inStream clip buffering speed as there're two clips are buffering together.

[2014-01-15 03:02] axu6705 opened #194 "Error calling method on NPObject."
use custom javascript controls in fullscreen event.

[2014-01-17 01:19] vnicorici opened #196 "Send Authorization header"
Is there any way to send Authorization headers when requesting a video file ?

ex:
var credentials:String = Base64.encode(email + ":" + password);
var authHeader:URLRequestHeader = new URLRequestHeader("Authorization","Basic " + credentials);

[2014-01-17 14:42] danrossi opened #197 "Stack error when playing new clip after the current clip has completed."
Memory leak / playlist fixes possibly caused a stack issue stopping the stream before playing a new clip. Was testing playlist new clips during playback.

[2014-01-17 19:09] digimoon opened #199 "howto builtin captions?"
maybe i was wrong?

package {
    import org.flowplayer.content.Content;
    import org.flowplayer.captions.Caption;
    import org.flowplayer.controls.Controls;

[code]

}

[2014-01-29 10:00] anssip commented on #191
Investigating this now.

[2014-01-29 11:56] anssip commented on #191
This is fixed now. Can be tested with these:
http://flash.cdn.201f.flowplayer.me.s3.amazonaws.com/swf/flowplayer-3.2.19-dev.swf
http://flash.cdn.201f.flowplayer.me.s3.amazonaws.com/swf/flowplayer.controls-3.2.17-dev.swf

[2014-01-29 11:59] #191 closed, assigned to anssip

[2014-01-30 21:30] MasterOliveira opened #202 "Master Build Folowing "For Developers" documentation does not work"
I tried to building several branches "release-3-2-16", "master" and "dev" following the documentation.

Java1.6.0_45, Ant1.9.3 and Flex4.6 are installed and added to the PATH variable

I keep getting the output:
C:\Flow\flash-build>ant
Buildfile: C:\Flow\flash-build\build.xml
     [echo] flowplayer version 3.2.18

check-uptodate:
     [echo] main up-to-date: ${uptodate.main}
     [echo] main up-to

[2014-01-30 23:08] MasterOliveira commented on #202
mxmlc is NOT compatible with java 64bit versions, that was the problem...

[2014-01-31 07:38] anssip commented on #202
Hopefuly we will get a compatible Flex SDK from Adobe.

[2014-01-31 07:38] #202 closed, assigned to nobody

[2014-02-01 16:52] bbbo opened #203 "enhance acccesibility to work in fullscreen"
#109 resulted in enhancements for tabbing, but it does not compleztely work in fullscreen:

"It works, but one thing I noticed is that once I enter a full screen mode I can still tab through the player, but I can’t activate buttons with Enter key.
Older versions of Flowplayer do the same thing – try accessibility test page. Once you are in the full screen mode, you can tab through buttons but hitt

[2014-02-02 09:59] ghost commented on #191
Many thanks Anssip for your efforts.
Should I wait the update in your website to download the commercial version

[2014-02-03 09:21] anssip commented on #191
The commercial version is here: http://flash.cdn.201f.flowplayer.me.s3.amazonaws.com/swf/flowplayer.commercial-3.2.19-dev.swf

Sorry i forgot include a link to this.

[2014-02-03 11:37] ghost commented on #191
NVM Anssip, Thanks a lot for your efforts and hard work.

[2014-02-10 10:00] kriborg opened #204 "Start and duration (clip parameter) fails on F4M/HDS in 3.2.18"
Flowplayer 3.2.18 - f4m,bwcheck,httpstreaming - Clip parameters: start and end - bug
- 'start': '1450',  'duration': '200',
- The control bar is showing a strange scrubber!
- Seeking to 00:00 gives an error. Showing a duration of 19 days... etc.

Bug can be reproduced here:
http://flashmeeting.exss.no/flowplayer/test.html

[2014-02-10 12:01] kriborg commented on #204
This bug has been introduced in version 3.2.18. I am not able to reproduce it in 3.2.16.

[2014-02-11 02:34] danrossi commented on #203
keyboard in fullscreen support in flash 11 player features.

[2014-02-11 02:39] danrossi commented on #204
You have dynamic stream switching enabled with only one bitrate. disable bwcheck and try again

[2014-02-11 07:22] kriborg commented on #204
I have corrected the URL now, forgot to update before I uploaded the example :)

Same error

Running dynamic stream switching (270p,360p and 720p)

[2014-02-12 14:00] kriborg commented on #204
Could you check it out now Danrossi ?

[2014-02-14 08:00] kriborg commented on #204
Could anybody confirm ?

[2014-02-14 11:39] litvinok opened #206 "rtmp: optional wait a broken stream"
In new version module when  our stream temporarily broken (for example 1-2 seconds) - user sees the player stopped. I think will better if we'll have option for tune it.

Let's add option for waiting broken streams or use custom event  [for stop them](https://github.com/flowplayer/flash/blob/master/plugins/rtmp/src/actionscript/org/flowplayer/rtmp/RTMPStreamProvider.as#L170).

I mean:

[code]

or

[2014-02-18 09:05] phloxic opened #207 "streamType value "dvr" not allowed by spec"
HDS spec http://wwwimages.adobe.com/www.adobe.com/content/dam/Adobe/en/devnet/hds/pdfs/adobe-media-manifest-specification.pdf says:

---

11.22 <streamType>
The <streamType> element SHALL be a string representing the way in which the media is delivered. The value SHALL be "live", "recorded", or "liveOrRecorded". It is assumed that all representations of the media have the same stream type, hence i

[2014-02-18 09:42] litvinok commented on #206
@danrossi, @anssip, @blacktrash, just to remind you.

[2014-02-18 10:59] danrossi commented on #207
That is not correct that is how the parser and index handler manages dispatching DVR events internally not at the plugin level which handles the event. No DVR streamtype no DVR event. Have a look how wowza do it. This has to be configured appropriately in FMS.

[2014-02-18 11:03] danrossi commented on #206
Hmm this is a possibly feature request, you require an unpublish event dispatched to handle reconnections. Unfortunately the player goes as far as detecting client connection disconnections and handles reconnecting.

The quickest way possibly is building a plugin to do this for you perhaps. I'm not sure if this can get in  at a reasonable time unless its a priority.

[2014-02-18 11:08] phloxic commented on #207
Isn't it an Adobe standard? So their spec should be decisive, not Wowza's implementation?
If you looked at the thread I've also encouraged to try dvr streamType regardless - according to user player gets stuck at loading animation; waiting for a minimal sample with latest release.

[2014-02-18 11:37] danrossi commented on #207
If it has "live" in it it's treated as live etc and won't do fragment appending. Thats why wowza has a dvr end point it changes it to "dvr"

[2014-02-18 23:13] danrossi commented on #206
So your best bet is to build a reconnecting plugin on unpublish events.

[2014-02-20 02:00] danrossi commented on #207
I can devise something to manipulate the type of the manifest after it's returned from the parser. This might work around this issue.

so

clip: {
dvr: true
}

will configure it as a "dvr" string. Is that what you are after ?

[2014-02-21 07:40] kriborg commented on #204
Is this a bug ?

[2014-02-22 00:19] chad3814 opened #208 "rtmp progress bar does not show"
You can see an example of it in the demo: http://flash.flowplayer.org/plugins/streaming/rtmp.html

[2014-02-22 01:18] phloxic commented on #208
Addendum: The reason is probably that one can see the full buffer (although for long movies it is so small, it's barely visible.
Flowplayer HTML5 on the contrary already has the probably more expected behaviour: the progress bar goes from 0 to the current playhead position.

[2014-02-22 13:42] danrossi commented on #208
It's coded to remove the progress bar in the controls for rtmp. other providers set the start to begin at the seek location rather than stay at zero. All that would have to change I suppose. I guess this was to be able to display the back buffer bar correctly.

[2014-02-24 09:03] phloxic commented on #208
Yes. The question is whether showing the rtmp buffer is useful/intuitive for the public or rather a technical thing (and strictly speaking correct for the name `bufferColor`, it does indeed show the current buffer), whereas the public just wants to see scrubber filled up to the current playhead position to get a more emphasized feedback of the current position relative to duration, the buffer is n

[2014-02-24 09:42] phloxic commented on #207
Not all users can control their streaming servers apparently, so for those cases this would be good.
Also in general: While it setting the streamType to dvr in the manifest is documented now, one tends to look at _player_ config and settings and not editing manifest files. Having the power to govern this from the player side alone would certainly the reduce the still recurring dvr question (even f

[2014-02-24 09:59] chuic commented on #207
Hello,
The flowplayer support team suggest me to join this thread to get the quickest reponse. The test stream url was provided in the mail list. What can I do to accelerate to solve this issue?

[2014-02-24 15:00] chad3814 commented on #208
I think the public is used to seeing both the buffer and the progress from the beginning to the playhead. Certainly you could show both, player.getStatus() has some buffer information even when using RTMP.

[2014-02-24 15:05] phloxic commented on #208
@chad3814 - the buffer is minimal, and is already shown - you only see it if the movie is short enough, it would be even shorter if the back buffer was overlayed.
And displaying the buffer somehow suggests that it influences the user interaction but it does so only for progressive download.
But yeah, if both is possible.

[2014-02-25 14:56] phloxic opened #209 "bitrateselect + live streams?"
Is it supposed to work? It does not.
You can make it work by stop-starting the stream - switch happens after stop.
But it does not work per se.
Demo: http://flowplayer.blacktrash.org/test/live-brselect.html
See also this forum thread: http://flowplayer.org/forum/#!/setup#live-rtmp-bitrate-select-me

[2014-02-25 15:05] ViliusS commented on #209
Works for me with Flash Server.

[2014-02-25 18:48] Hunter-WebDev opened #210 "RTMP Small Start"
I am a little unsure of what is going on here, the video stays a 10px x 10px box until a few seconds in, then goes big, then you've missed the first part of the video. Not sure if there is already a fix for it or if I haven't created the right settings.

![screen shot 2014-02-25 at 1 45 54 pm](https://f.cloud.github.com/assets/5040696/2261308/27769b8c-9e4d-11e3-9e78-cdd5ed5cabb4.png)

Any help is

[2014-02-27 09:45] chuic commented on #207
Please use the HDS Stream below as a test url.
http://nscreenlivetest.media.hinet.net/live/pool/erictest-rtmptest01/nms-hd-hds/erictest-rtmptest01.f4m
The DVR Period is set to 600 seconds. I had tried the url with flowplayer. It seems like the time in control bar can render dvr info properly but not the scroll bar.
Here's the test page.
http://mp4aptest.media.hinet.net/verifyPlayer/HDSPlayer_3.2.1

[2014-02-27 20:14] molnarr2 commented on #209
Running Evostreamms 1.6.5:

http://smglivestream.com/client/testareaBitrate2.php

Here is an unsuccessful HD -> SD livestream brselect:

09:34:43.344 "[LOG] time 09:34:43.343 :: org.flowplayer.rtmp::RTMPStreamProvider : switchStream called" testareaBitrate2.php
09:34:43.345 "[LOG] time 09:34:43.344 :: org.flowplayer.rtmp::RTMPStreamProvider : doSwitchStream() calling play2()" testareaBitrate2.php

[2014-02-28 14:51] danrossi commented on #209
^ not a supported product, never tested.

This has been raised 3 times before and switching does work with rtmp assuming the publishing filename is setup correctly with the indexing flags.

[2014-02-28 14:55] danrossi commented on #207
Yes its returning a type of live not dvr hence the problem, it has to be overriden after the parsing.

[2014-03-01 00:53] danrossi commented on #207
I agree there is too many occurrances on FMS/AMS because there is no default manifest config for this it's just setup as live which is silly. @anssip ok to do ?

[2014-03-04 09:54] ghost opened #212 "Instream playlist issues"
Hello,
I've instream playlist within the main clip.
Instream clips have very strange behavior after updating to flowplayer.commercial-3.2.19-dev.swf.
Instreamclip never completed and if completed the main video never continues playing after instream clip.
Please check here
http://live.streamtrix.com/minimal-embed.html

[2014-03-04 13:19] phloxic opened #213 "negative cuepoints are fired multiple times (ca. 20 times)"
Example logging  a positive and a negative cuepoint: http://flowplayer.blacktrash.org/test/minimal.html

See also http://flowplayer.org/forum/#!/setup_configuration#cuepoint-event-firing-multi

[2014-03-05 09:33] bbbo commented on #212
does not happen with 3.2.18 so it' probably related to the buffering fixes for #191

[2014-03-10 14:10] ghost commented on #191
Hello All,
Any news about Instream clips issue?

[2014-03-10 17:55] lukeyan44 opened #214 "Flowplayer non-commercial compile issue"
Hi,

I'm trying the compile the latest flowplayer the source of GIT-hub, but unfortunately, during the compilation, following types are claimed by mxmlc as not found:

BufferAnimation
LabelHolderLeft
LabelHolder
FlowplayerLogo

I tried to search the git code and google the files, but can not find any information about them, can anyone help me to figure it out?

my environment:
Flex SDK 4.6 + JDK 1

[2014-03-11 04:03] chuic commented on #207
How's this issue going?

[2014-03-11 20:29] phloxic opened #215 "Player not functional without JavaScript"
I do not think this is a regression. Tested with older Flowplayer versions, same problem:
With recent Flash versions, the player - the object - loads, but is not functional.
Test: http://flash.flowplayer.org/demos/standalone/installation/alternate/object-w3c.html with JavaScript disabled.

However, the OSMF strobe player does work when JavaScript is disabled: http://flowplayer.blacktrash.org/test/

[2014-03-11 20:47] phloxic commented on #215
What comes to mind:
The `flashvars` value of the strobe player is properly url-encoded, the Flowplayer config is not.
However, url-encoding the Flowplayer config (also with external file) stops the player to load entirely.
So url-encoding seems to affect this.

[2014-03-11 20:47] bbbo commented on #204
@anssip please check

[2014-03-12 01:23] danrossi commented on #207
Hi this is a feature request so i'm waiting on confirmation to actually do it, it's a simple change though.

[2014-03-12 06:12] chuic commented on #207
![flowplayer](https://f.cloud.github.com/assets/6769779/2394186/90b1a492-a9ac-11e3-94a0-921369e895f4.png)
Hi, I found something interesting. As you can see the picture above, the onPlayStatus event in clip get the info type dvr. It seems that a module does parse this manifest as a dvr stream. Hope this would help.
Is it possible to you to release a patch for testing?

[2014-03-13 08:04] bbbo commented on #210
please post this in the forums, along with a link to an actual example.

[2014-03-13 08:04] #210 closed, assigned to nobody

[2014-03-13 08:06] bbbo commented on #204
demo here: http://flashmeeting.exss.no/flowplayer/test.html

[2014-03-13 08:33] danrossi commented on #204
confirming when both are used together there is a problem. But seperately it is ok very strange.

[2014-03-13 08:44] danrossi commented on #204
There is some small problems with HDS when using start offsets I will have to check what is going on with the scrubber.

[2014-03-13 08:57] danrossi commented on #204
There is some negative values being generated for the scrubber progress bar hence the issue.

[2014-03-13 09:07] danrossi commented on #204
please try this thanks https://dl.dropboxusercontent.com/u/3394987/flowplayer.httpstreaming-3.2.11.zip

[2014-03-13 09:40] danrossi commented on #207
I just tried to run this and its down again.

[2014-03-13 09:48] kriborg commented on #204
I have updated the page, looks like its working :+1: :)

http://flashmeeting.exss.no/flowplayer/test.html

[2014-03-13 09:54] chuic commented on #207
Try this one:
http://mp4aptest.media.hinet.net/verifyPlayer/HDSPlayer_reconnect.aspx?MediaPath=http://nscreenlivetest.media.hinet.net/live/pool/himedia-livestream03/hd-hds-pc/himedia-livestream03.f4m

[2014-03-13 10:53] danrossi commented on #207
Sorry about the misunderstanding. It seems if you have some dvr metadata like

[code]

It will detect it as dvr and send the appropriate events internally which the plugin uses to update the dvr time. If this is missing it needs the streamType set to dvr. The plugin detects this to update the clip property to "dvr"

I think what you are trying to get at is you cannot seek into the dvr area, I am e

[2014-03-13 11:35] danrossi commented on #207
there is serious timestamp issues, the duration is not being updated correctly and the fragment timestamp just stays the same it's very strange. Check your backend perhaps thats why seeking is not working.

[2014-03-13 11:36] danrossi commented on #204
ok

[2014-03-13 12:16] chuic commented on #207
I tried a player that can play and  seek correctly. Here's the link
http://mp4aptest.media.hinet.net/grindplayer/grindplayer.html?src=http://nscreenlivetest.media.hinet.net/live/pool/himedia-livestream03/hd-hds-pc/himedia-livestream03.f4m

[2014-03-13 13:05] danrossi commented on #207
have a look at the timestamp in the player.

[2014-03-18 16:14] anssip opened #217 "Repeated play() calls on API cause error"
Second play(clip) cases error  "Uncaught Error: Error calling method on NPObject.".

Here is a sample setup:

[code]

[2014-03-18 16:21] danrossi commented on #217
ok is that normal user behaviour though 5 seconds apart ? NPObject is error to externalinterface somewhere.

[2014-03-19 05:32] danrossi commented on #217
the timer is being started without looking for a player load. I will tweak this and probably find nothing wrong lets see.

[2014-03-19 05:35] danrossi commented on #217
This looks another one of those non use cases and simply trying to break it. There is going to be latency obviously so has to be sync.

[2014-03-19 06:03] danrossi commented on #217
I got the first issue.

[2014-03-19 06:06] danrossi commented on #217
hmm OK. There is a stack issue that I had committed but it was not merged yet and isn't in this branch.

https://github.com/flowplayer/flash/pull/198

[2014-03-19 06:11] danrossi commented on #217
I spotted it and pretty sure I created an issue. It was always there but was never been run until those memory fixes on the playlist.

[2014-03-19 06:14] danrossi commented on #217
#197 fixes it.

[code]

[2014-03-20 08:04] chuic commented on #207
Did you get any info on the timestamp issue?

[2014-03-20 21:16] danrossi commented on #207
http://nscreenlivetest.media.hinet.net/live/pool/himedia-livestream03/hd-hds-pc/himedia-livestream03.f4m is now a live stream only there is no dvr information. The timestamp is progressing normally with this one.

[2014-03-21 01:05] chuic commented on #207
Sorry for that. Use this one instead.
http://nscreenlivetest.media.hinet.net/live/pool/himedia-livestream03/hd-hdst-pc/himedia-livestream03.f4m

[2014-03-26 11:42] ghost opened #218 "Very long durations not displayed correctly"
Hi,
In file ./flash-release_3_2_18/core/src/actionscript/org/flowplayer/util/TimeUtil.as, method "formatSeconds()", lines 41-42, the number of days is computed as:
        var day:Number = Math.floor(hr/60);
        hr = hr % 60;
This should be:
        var day:Number = Math.floor(hr/24);
        hr = hr % 24;
Thx,
JF

[2014-03-26 12:06] danrossi commented on #218
example ?

[2014-03-26 12:11] ghost commented on #218
Hi,
I'm using HLSProvider / FlowPlayer to play a 4-days long HLS sequence. The total duration of 96 hours is sent by the HLSProvider module as a number of seconds (345600), and displayed by FlowPlayer with Flash backend as "1:36:0:0" instead of the expected "4:0:0:0".
Do you need video material ?
JF

PS: I attached 2 screenshots showing this behaviour. Look at the bottom right.
After:
![flowplayer

[2014-03-26 14:41] danrossi commented on #218
Talk to them about it perhaps ?

[2014-03-26 14:51] ghost commented on #218
Hi,
Who are "them" ? The HLSProvider owners ? I'm afraid I don't understand your point.
The problem lies within the flowplayer/flash project (i.e. this project) in file ./core/src/actionscript/org/flowplayer/util/TimeUtil.as, as my first post said. There are other issues with the HLSProvider plugin too, but these were reported elsewhere. For example, the duration should be exactly 4 days, but the

[2014-03-26 15:03] danrossi commented on #218
It was hard to read. That is to fix your problem again I need an example page, perhaps with logging of its metadata being returned so I can see.

fudging in 14400 seconds which is 4 hours it displays it correct.

[2014-03-26 15:45] ghost commented on #218
Sorry that I was not clear enough %-)
I created some content you can download and see for yourself here: https://www.dropbox.com/sh/5mkhhyjy4bsjpv6/qjiOzC6yzU. This folder contains approx. 2GB data (my dropbox limit)! The sequence is only 36 hours long, so the total duration should be displayed as "1:12:00:00". If you open the "index.html" file in this folder, you will get 2 instances of FlowPlaye

[2014-03-28 02:46] chuic commented on #207
Is there any new progress on this issue?

[2014-03-28 12:10] phloxic opened #219 "live httpstreaming, f4m version 2: pixel picture at load"
Will try to convince the customer to run the stream at http://mp4aptest.media.hinet.net/verifyPlayer/HDSPlayer_3.2.18_1.aspx?MediaPath=http://61.219.3.107/live/pool/aver-nal/hd-hdsv2-pc/aver-nal.f4m again.
Was confirmed by @bbbo and me though.

[2014-03-29 04:19] danrossi commented on #207
I don't see anything wrong, you have dvr metadata in your feed so it can have a streamtype of live. If there is no dvr information it needs to have a streamtype of dvr but it looks like I can possibly change this fixing a bug for something different. Your encoding is bad, look at the timestamp it never progresses.

[2014-03-29 04:20] danrossi commented on #219
Yes you aren't going crazy I will look at it when I can something has changed in the player causing this ..

[2014-03-29 04:21] danrossi commented on #219
The display is displaying before it has metadata to resize to.

[2014-03-29 04:22] danrossi commented on #219
I will integrate this dvr clip setting too for those who have no dvr information but live stream is configured. hopefully it can be overridden after the parser.

[2014-03-29 18:05] phloxic opened #220 "audio: play(clip) fails if current clip is at beginning"
At http://flowplayer.blacktrash.org/test/minimal-audio.html do not start the player, but click on the button.
http://flowplayer.org/forum/#!/drive_discussion:load-and-ready-events-not-f

[2014-03-29 18:06] phloxic commented on #220
Can be worked around in an ugly fashion by:

[code]

[2014-04-01 10:22] chuic commented on #207
Would you explain what you meant by the encoding is bad and the timestamp never progresses?
Thanks.

[2014-04-01 10:28] chuic commented on #207
I also found a OSMF Player that can parse this test stream correctly and can seek through past 30 minutes. I embedded the above dvr stream inside. Here's the test link:
http://mp4aptest.media.hinet.net/verifyPlayer/osmfTest.html

[2014-04-01 10:48] danrossi commented on #207
As I keep explaining, seek back and observe the timestamp it keeps jumping backwards this is not normal. It should be progressing naturally. I've never seen this before. Perhaps it has something to do with this window setting but I doubt it. Stream isn't playing for me though. Try a different stream. How are you publishing the stream exactly , FMS or Wowza ?

[2014-04-01 11:04] chuic commented on #207
You might check the network traffic. Now the stream is a black picture and no sound. But when looking at the network traffic, you can see the request for fragment keeping on. When you shift the time, the player requested for previous fragment which can be told from the sequential number of requested fragment.

[2014-04-01 13:19] danrossi commented on #219
unable to replicate with either live or dvr on wowza. That stream is down also.

[2014-04-01 13:45] danrossi commented on #219
Am able to replicate it with another one of their streams. it's because no width and height properties are set which is not standard. The plugin however has code to counteract this already and resets the clip dimensions to the player dimensions however it's quite possible not even a metadata even is being called.

[2014-04-01 14:18] danrossi commented on #219
doh that was something I had implemented into the hls plugin because dimensions are not something that is enforced. lol. that seems to have done the job.

[2014-04-01 14:29] danrossi commented on #219
https://dl.dropboxusercontent.com/u/3394987/flowplayer.httpstreaming-3.2.11.zip this will fix the problem.

[2014-04-01 15:00] danrossi commented on #207
@blacktrash I fixed the other issue when no dimensions are set which is required and standard on f4m feeds. however overriding the dvr setting requires a feed setup like this for testing. Ie stream type as live but is actually dvr and no window duration tag set. It picks up as dvr if the window duration config is set. If there is such a stream let me know and I can push it through with this change

[2014-04-02 01:10] chuic commented on #207
The test stream is online.
http://nscreenlivetest.media.hinet.net/live/pool/himedia-livestream03/hd-hdst-pc/himedia-livestream03.f4m
The osmf page can play the stream well and can time-shift.
http://mp4aptest.media.hinet.net/verifyPlayer/osmfTest.html

Please check this again. Thanks

[2014-04-02 23:56] roschler commented on #220
That workaround works great if you already have a valid clip loaded into the Player and have pressed the Play button at least once on the Player control. If that pair of conditions has not been met, then then the play command workaround given by blacktrash still results in an NPObject error. It's as if some kind of initialization takes place when the Play button is hit that is needed for the play(

[2014-04-03 04:46] danrossi commented on #220
Its something to do with the audio provider, it could be related to the playlist changes but it see its already replacing it correctly and there is a null pointer exception with something missing in the audio provider.

[2014-04-03 11:06] phloxic commented on #220
@roschler - regarding the workaround:
Without a clip already autobuffering or a splash setup (i.e. player not yet loaded), this will fail in all scenarios, including video: http://flowplayer.blacktrash.org/test/play-at-start.html - unless you set `autobuffering: true` (which requires a valid clip url) or use a splash setup where the player is loaded with a valid clip url via `play()` - `play()` wi

[2014-04-03 12:27] roschler commented on #220
@blacktrash - I do set autobuffering: true:

[code]

Or are you referring to something else?  On the splash setup note, since I do know the clip url, is this what you are referring to?

http://flowplayer.org/docs/setup.html#splash

[2014-04-03 13:51] phloxic commented on #220
@roschler
But if there is no valid clip loaded, `getClip(0).update` does not make sense because there is no clip to get or update.
Splash: http://flash.flowplayer.org/demos/installation/splash-image.html - you referenced the Flowplayer HTML5 docs.
Here's the "working workaround": http://flowplayer.blacktrash.org/test/play-at-start-workaround.html

[2014-04-03 17:23] roschler commented on #220
@blacktrash
Sorry, I thought Update did load the clip as part of its duties. Is there an explicit command I can use to load the clip before calling Update?

[2014-04-03 18:01] phloxic commented on #220
@roschler - `play(clip)` ;-) - the problem is, as you stated yourself, that you load the player without a clip.

[2014-04-04 09:33] phloxic opened #221 "bwcheck_httpstreaming setup works in 3.2.16, but not in 3.2.18"
Comparison demo using the same stream:
http://flowplayer.blacktrash.org/test/purplestream.html
With 3.2.18 release and corresponding plugins the player stalls at stream switch. No problem with the 3.2.16 assets.

As our working demo at http://flash.flowplayer.org/demos/plugins/streaming/bwcheck-hds-live.html it uses version 1 manifests.

[2014-04-04 16:52] danrossi commented on #221
Seems fine to me though there is something wrong with the other bitrate streams, its stuck in a live stall most likely not working. Are they able to confirm this ?  The other one does not switch to the 600k one because it doesn't have said changes.